

#sliderContainer,#sliderContainer1 {
  position: relative;
  width: 100%;
  max-width: 972px;
  margin: 0 auto;
}

#slider,#slider1 {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
}

#slider img, ,#slider1 img {
  width: 100%;
  height: auto;
  display: block;
}

.slide, .slide1 {
  position: absolute;
  z-index: 0;
  opacity: 0;
  pointer-events: none;
}

.slide.active, .slide1.active1 {
  position: relative;
  z-index: 1;
  opacity: 1;
  pointer-events: auto;
}

.slideCopy {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #fff;
  color: #333;
}

.slideCopy p { font-size: 18px; }

.arrow {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 228px;
  bottom: 0;
  border-radius: 50%;
  /*background-color: #fff;*/
  margin: auto 0;
  cursor: pointer;
  z-index: 100;
  /*background-size: 10px;*/
  background-repeat: no-repeat;
  pointer-events: none;
  opacity: 1;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

#prev,#prev1 {
  left: 50px;
  background-image: url(../images/arrow-left.png);
  background-position: 13px center;
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
}


#next,#next1 {
  right: 256px;
  background-image: url(../images/arrow-right.png);
  background-position: 16px center;
  transform: translateX(-20px);
  -webkit-transform: translateX(-20px);
  display:none;
}

div#prev1{
	top: 62px;
    left: 202px;
}
div#next1{
	top: 62px;
    left: 241px;
	
}
div#next {
    top: -35px;
    left: 50px;
}
div#prev {
    left: 0;
    top: -35px;
}

.sliderHovered .arrow {
  opacity: 1;
  pointer-events: auto; 
}

.sliderHovered #prev,.sliderHovered #prev1 {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

.sliderHovered #next,.sliderHovered #next1 {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}
