html{
	background:url(../images/loop_bg.jpg) repeat;
	

}

body{
	background:url(../images/inner_bg.jpg) top center no-repeat;
	background-size:100%;
	padding:0px;
	margin:0px;
	font-family: 'Open Sans', sans-serif;
	overflow-x:hidden;
	
	
}

a{
	outline:none !important;
	text-decoration:none !important;
}

header{
	width:100%;
	height:235px;
	background:url(../images/inner_header_bg.jpg@id=123) center no-repeat;
	position: relative;
}

.logo{
	width:266px;
	height:178px;
	float:left;
}

.social-cnt{
	color:#97622c;
	padding:15px 0px 0px 0px;
	font-family: 'Lora', serif;
	float:right !important;
	position:absolute !important;
	right: 0
}




.social-icon{
	color:#97622c;
	padding:15px 0px 0px 0px;
	float:right !important;
	width:auto;
	position:absolute !important;
	right: 25px;
}

.social-icon ul{
	padding:0px 15px 0px 0px;
	margin:0px;
}
.social-icon li{
	padding:0px 5px 0px 5px;
	border-right:1px solid #97622c;
	text-transform:uppercase;
	float:left;
	display:block;
	font-size:11px;
	font-weight:bold;
	margin:0px;
}

.social-icon li a{
	color:#97622c;
	text-decoration:none;
}
.social-icon li a:hover{
	color:#333333;
	text-decoration:none;
}

.social-icon li:first-child{
	border:none;
	padding:0px 0px 0px 0px;
}
.social-icon li:last-child{
	border:none;
	padding:0px 0px 0px 0px;
	position: absolute;
	right: 0;
        width: 5px;
}

.social-icon li:last-child:hover{
	width: 350px;
}


#user-options 						{ position: absolute; right: 0; width: 200px; top: 15px;}

.searchbox 							{ position:relative; min-width:30px; width:0%; margin-top: -5px; height:50px; float:right; overflow:hidden;    
								      -webkit-transition: width 0.3s;
								      -moz-transition: width 0.3s;
								      -ms-transition: width 0.3s;
								      -o-transition: width 0.3s;
								      transition: width 0.3s;
									}

.searchbox-input 					{ top:0; right:0; border:0; outline:0; background: transparent; width:100%; height:30px; margin:0; padding:0px 20px 0px 10px; font-size:20px;  
									  color:333; font-family: 'Open Sans', sans-serif; font-size: 14px;
 									}
.searchbox-input::-webkit-input-placeholder { color: #666;}
.searchbox-input:-moz-placeholder 			{ color: #666;}
.searchbox-input::-moz-placeholder 			{ color: #666;}
.searchbox-input:-ms-input-placeholder 		{ color: #666;}
.searchbox-icon,
.searchbox-submit 					{ width:20px; height:20px; display:block; position:absolute; top: 6px; font-family:verdana; font-size:22px; right:0; padding:0;  margin:0; border:0; outline:0;
    								  line-height:30px; text-align:center; cursor:pointer; color:transparent; background: transparent;
    								}
.searchbox-open 					{ width:100%;}
.searchbox-open .searchbox-input 	{ background:#FBE7BF;}
.searchbox-open .searchbox-submit 	{ background:#FBE7BF;}
.byline 							{ position:absolute; top:150px; left:30%; text-align:center; font-size:18px;}
.byline a 							{ text-decoration:none; color: #d74b4b;}
.social-icon li:last-child:hover .searchbox  { width:100%;}
.social-icon li:last-child:hover .searchbox-input 	{ background:#FBE7BF;}
.social-icon li:last-child:hover .searchbox-submit 	{ background:#FBE7BF;}



.social-icon img{
	display:block;
	width:15px;
	cursor:pointer;
	height:16px;
}

.arrow_box{
	clear:both;
    position:absolute !important;
	width:230px;
	right:20px !important;
	margin:0 !important;
	z-index:500 !important;
}

.arrow_box input{
	width:90% !important;
}

.arrow_box fieldset{
	padding:10px;
}

.arrow_box button{
	width:90% !important;
}


.arrow_box:after {
	margin-left: 15px !important;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    border-image: none;
    border-style: none !important;
    border-width: 10px;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 34% !important;
    pointer-events: none;
    position: absolute;
    width: 0;
	z-index:500 !important;
	
}

.social-cnt ul{
	padding:0px;
	margin:0px;
}

.social-cnt li{
	padding:0px 10px 0px 10px;
	border-right:1px solid #97622c;
	text-transform:uppercase;
	float:left;
	display:block;
	font-size:11px;
	font-weight:bold;
	margin:0px;
}

.social-cnt li a{
	color:#97622c;
	text-decoration:none;
}

.social-cnt li a:hover{
	color:#333333;
	text-decoration:none;
}

.social-cnt li:first-child{
	border:none;
	padding:0px 0px 0px 0px;
}
.social-cnt li:last-child{
	border:none;
	padding:0px 0px 0px 0px;
}

.social-cnt img{
	display:block;
	width:15px;
	cursor:pointer;
	height:16px;
}

.nav-bar{
	background:#bc451d;
	display:block;
	height:40px;
	-webkit-border-top-left-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-bottomleft: 4px;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
	margin:8px 0px 0px 55px;
	
}

.nav-bar nav ul{
	
	padding:0px 0px 0px 0px;
	margin:0px;
}

.nav-bar nav li{
	padding:10px 10px 10px 10px;
	background:url(../images/divider.gif) right no-repeat;
	text-transform:uppercase;
	font-size:12px;
	color:#fff;
	font-weight:800;
	list-style:none;
	float:left;
	margin:0px;
}

.nav-bar nav li a{
	color:#fff;
	text-decoration:none;
}

.nav-bar nav li a:hover{
	color:#f5a43f;
	text-decoration:none;
}

.circule-img{
	background:url(../images/inner_header_img.png) no-repeat;
	width:172px;
	margin:-50px 0px 0px -40px;
	height:171px;
	}

.inner-wrapper{
	background:#fff;
	width:100%;
	padding:0px 36px;
	
}

/*.inner-wrapper .col-md-9{
	margin-top:-20px;
}
*/
.inner-wrapper h2{
	color:#494848;
	font-size:26px;
	font-weight:800;
	display:block;
	margin:0px 0 0 0 !important;
	padding:0 0 20px 0 !important;
}

.cnt-row{
	border-bottom:1px  solid #dfdfdf;
	padding-bottom:20px;
	margin-bottom:20px;

}

.cnt-box{
	padding:0px !important;
	margin:0px !important;
	min-height:450px !important;

}



.cnt-box h2{
	font-size:16px;
	color:#b0401a;
	font-weight:800;
	padding:10px 0px 14px 0 !important;
	
}
.cnt-box p{
	color:#565656;
	text-align:justify;
}

.cnt-box .more{
	width:100px;
	border:1px solid #e0e0e0;
	background:url(../images/arrw.gif) left no-repeat;
	height:28px;
	font-size:13px;
	color:#6a6868;
	float:left;
	padding:4px 0px 0px 27px;
}

.cnt-box .more a{
	color:#6a6868;
}

.cnt-box .more:hover{
	background:url(../images/arrw_hov.gif) no-repeat;
}

.sidebar{
	border-left:1px solid #dedcdc;
	padding:10px;
}

.sidebar-links{
}

.sidebar-links ul{
	padding:0px 0px 0px 20px;
	margin:0px;
}

.sidebar-links li{
	padding:2px 0px 5px 20px;
	background:url(../images/cross.gif) left no-repeat;
	color:#646464;
	list-style:none;
	font-size:14px;
	font-weight:bold;
	margin:0px;
}

.sidebar-links li a{
   color:#333333;
}

.sidebar-links li a:hover{
   color:#ce5128;
}

.bottom-links{
	padding:10px 0 0 0;
	border-top:1px solid #CCC;
}

.bottom-links ul{
	padding:0px;
	margin:0;
}

.bottom-links li{
	padding:0px 10px 0px 10px;
	float:left;
	color:#a76616;
	font-size:10px;
	float:left;
	list-style:none;
	text-transform:uppercase;
	margin:0;
}

.bottom-links li a{
	color:#a76616;
}

.bottom-links li a:hover{
	color:#333333;
}

.bottom-links p{
	color:#949393;
	font-size:10px;
}

.ipsr{
	text-transform:uppercase;
	font-weight:800;
	font-size:9px !important;
	font-family: 'Open Sans', sans-serif;
}

.ipsr a{ 
    color:#949393;
}

footer{
	background:url(../images/desktop-footer_bg.png) no-repeat;
	width:100%;
    background-size:contain;     
	height:75px;
}




/* --------------- Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px) {
	.logo-mob{
		display:none;
	}
	

 
}







/* ------------------------- Tab View --------------------------------- */
@media all and (max-width: 768px){
	
  .nav-bar{
	  margin:0px;
	  border-bottom-left-radius: 0px;
       border-top-left-radius: 0px;
  }
  
  .circule-img{
	  display:none;
  }
  

  
  .sidebar{
	  border:none;
  }
  
  .inner-wrapper .col-md-9{
	margin-top:10px;
}

  
  footer{
  background:none;
  border-top:15px solid #CCC;	  
  }
  
  .logo-mob{
		display:none;
	}
	
   .cnt-box img{
	width:90%;
}

 
 .social-cnt{display:none;}
 
}

@media all and (max-width: 1024px) and (min-width: 1024px){
	.navbar{
		display:none;
	}
	
	.social-cnt{ margin-left:400px;}
}

@media all and (max-width: 800px) and (min-width: 800px){
	 .nav-bar{
	  margin:0px;
	  border-bottom-left-radius: 0px;
       border-top-left-radius: 0px;
  }
  
  .circule-img{
	  display:none;
  }
  

  
  .sidebar{
	  border:none;
  }
  
  .inner-wrapper .col-md-9{
	margin-top:10px;
}

  
  footer{
  background:none;
  border-top:15px solid #CCC;	  
  }
  
  .logo-mob{
		display:none;
	}
	
	.navbar{
		display:none;
	}	

	
   .cnt-box img{
	width:90%;
}

.social-cnt{display:none;}

}

@media all and (max-width: 980px) and (min-width: 980px){
	 .nav-bar{
	  margin:0px;
	  border-bottom-left-radius: 0px;
       border-top-left-radius: 0px;
  }
  
  .circule-img{
	  display:none;
  }
  

  
  .sidebar{
	  border:none;
  }
  
  .inner-wrapper .col-md-9{
	margin-top:10px;
}

  
  footer{
  background:none;
  border-top:15px solid #CCC;	  
  }
  
  .logo-mob{
		display:none;
	}
	
	.navbar{
		display:none;
	}	

	
   .cnt-box img{
	width:90%;
}

.social-cnt{display:none;}
}

@media all and (max-width: 768px) and (min-width: 768px){
	.navbar{
		display:none;
	}
}

@media all and (min-width: 1280px) and (min-width: 1280px){
	.navbar{
		display:none;
	}
}





/* ------------------------- Mobile View --------------------------------- */
@media only screen  and (max-width : 640px) {

	
.logo-mob {
	margin:0 auto !important;
	width:150px;
	height:100px;	
	display:block;

}

.navbar-default{
	position:absolute;
	z-index:100;
	right:0 !important;
	width:100%;
	overflow:hidden;
    background:none;
	border:0;
}
.navbar-toggle{
	background:#333 !important;
	border:none;
}
.navbar-collapse {
	border:none !important;
	width:100% !important;
}
.navbar-default nav{
	background:#fff;
	padding:0px !important;
	width:100% !important;
	margin:0px !important;
}

.navbar-default nav ul li{
	padding:3px !important;
	width:100% !important;
	margin:0px !important;
}

.navbar-nav{
	margin:0 !important; 
}

.nav-bar{
	display:none;
}
.logo{
	display:none;
	}

.social-cnt{
		display:none;
	}
	
.cnt-box img{
	width:100%;
	margin-top:20px;
}
}


.inner-links{
	padding:20px;
	background:#f8f7f7;
}

.inner-links ul{
	padding:0px;
	margin:0px;
}

.inner-links ul li{
	border-bottom:1px solid #e2dddd;
	padding:5px 0px 5px 0px;
	list-style:none;
	display:inline-block;
	width:100%; 
}

.inner-links ul li a{
	color:#333;
}
.inner-links ul li ul{
	padding:5px 0px 5px 0px;
	list-style:none;
	display:inline-block;
	width:100%;
}
.inner-links ul li ul li{
	padding:5px 0px 5px 0px;
	list-style:none;
	display:inline-block;
	width:100%;
	background-color:#e9e8e8;
	border-bottom:1px solid #dfdfdf;
	text-indent:20px;
}
.inner-links ul li ul li a{
	text-decoration:none;
	font-size:13px;
}
.inner-links ul li ul li a:hover{
	color:#bc451d;
	text-decoration:underline;
}


.cnt-box-inner{
	}
	
.cnt-box-inner img{
	float:left;
	margin-right:20px;
	}

/* Coded By Sabil 28-04-2015 */

#tribe-bar-form .tribe-bar-submit input[type=submit] { background: #ec3d68 !important } 
.tribe-events-calendar thead th { background-color: #EF760E !important }
.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-]>a {
    background-color:#F4E8DE !important; 
    color: #A8896E !important;
    font-weight: bold !important; 
    font-size: 14px !important;
}
#tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type=submit], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a{ 
    background: #F06083 !important}
.tribe-events-day .tribe-events-day-time-slot h5 { background: #F78B2D !important;}
.tribe-bar-views-inner          { background: #D0C39B !important;}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a { background: #D0C39B !important;}
.tribe-events-list-widget h1    { font-size: 23px;}
.vcalendar                      { padding: 0}
.tribe-events-list-widget ol li { border:1px solid #f1f1f1; border-left: 5px solid #b5b5b5; padding: 5px 10px; margin-bottom: 0 !important}
.tribe-events-list-widget ol li { margin-bottom: 30px; }
.tribe-events-list-widget ol li:nth-child(1n+1) { border-left: 5px solid #b5b5b5 ;}
.tribe-events-list-widget ol li:nth-child(2n+2) { border-left: 5px solid #eac644 ;}
.tribe-events-list-widget ol li:nth-child(3n+3) { border-left: 5px solid #ec3d68 ;}
.tribe-events-list-widget ol li:nth-child(4n+4) { border-left: 5px solid #f95931 ;}
.tribe-bar-filters 				{ display:none;}
.cnt-box img 					{ max-width: 100%}		
.mobile-menu 					{ display: none}

@media only screen and (min-width: 768px){
	.navbar-default 				{ display: none;}
	.logo-mob 						{ display: none;}
}

@media only screen and (max-width: 1199px){
	.bottom-links .col-md-6,
	.bottom-links .col-md-4,
	.bottom-links .col-md-2 		{ width: 100%; text-align: center; display: inline-block;}
	.bottom-links ul 				{ display: inline-block; float: none;}
	.bottom-links li 				{ float: none; display: inline-block;}
	.nav-bar nav li 				{ padding: 10px 8px 10px 7px; font-size:11px;}

}

@media only screen and (max-width: 991px){ 
	.circule-img 					{ display: none}
	.nav-bar 						{ border-radius: 0; margin: 8px 0px 0px 0px;}
	.nav-bar nav li:last-child   	{ background-image: none;}
	.inner-wrapper 					{ padding: 20px 30px 0;}
	.sidebar 						{ border-left: 0}
	.sidebar-links ul 				{ padding-left: 0}
	.social-block 					{ position: absolute; top: 0; right: 0}
	.logo 							{ width: 177px; height: 178px; float: left; position: relative; top: 27px;}
}

@media only screen and (max-width: 767px){ 
	.nav-bar 						{ display: none;}
	.cnt-box 						{ text-align: center; min-height: auto !important; margin-bottom: 40px !important; }
	.cnt-box img  					{ width: auto;}
	.cnt-box .more 					{ float: none; display: inline-block;}

	.side-collapse-container		{ width:100%; position:relative; left:0; transition:left .4s; }
	.side-collapse-container.out 	{ left:200px;}
	.side-collapse 					{ top:0; bottom:0; left:0; position:fixed; overflow:hidden; transition:left .4s; width: 200px;     z-index: 999;}
	.side-collapse.in 				{ left: -200px;	}
	.navbar-toggle					{ position: fixed; z-index: 99999; margin-left: 12px;}
	.navbar-inverse .navbar-collapse, 
	.navbar-inverse .navbar-form 	{ position: relative; top: 62px;}
	.navbar-default nav 			{ background: transparent;}
	.navbar-inverse 				{ background-color: #A5320E;}
	.navbar-inverse .navbar-nav > li > a{ color: #fff}
	.navbar-toggle 					{ border: none; background: transparent !important;	}
	.navbar-toggle:hover 			{ background: transparent !important;}
	.navbar-toggle .icon-bar 		{ width: 30px; transition: all 0.2s; height: 4px; background: #fff !important}
	.nav > li > a 					{ padding: 5px 20px;}
	.navbar-toggle .btn-text 		{ text-shadow: 1px 1px 1px #5C5C5C; padding-left: 40px; float: left; margin-top: -18px; color: #fff;}
	.navbar-toggle .icon-bar 		{ -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.5); box-shadow: 0 0 5px 0 rgba(0,0,0,.5);}
	.navbar-collapse 				{ padding: 0 !important}
	.mobile-menu 					{ display: block;}
	.logo 							{ display: none;}
	.logo-mob 						{ margin: 0 auto !important; width: 150px; height: 100px;display: block; position: relative; top: 100px}
	.social-icon ul 				{ min-width: 170px;}

}


