html{



	background:url(../images/loop_bg.jpg) repeat;



	







}







body{



	background:url(../images/second_bg.jpg) top center no-repeat;



	background-size:100%;



	padding:0px;



	margin:0px;



/*	min-height:1200px;*/



	font-family: 'Lora', serif;



	



}







a{



	outline:none !important;



	text-decoration:none !important;



}







.social-icon{



	color:#97622c;



	padding:15px 0px 0px 0px;



	float:right !important;



	width:auto;



	position:absolute !important;



	right: 25px;



}







.social-icon ul{



	padding:0px 15px 0px 0px;



	margin:0px;



}



.social-icon li{



	padding:0px 5px 0px 5px;



	border-right:1px solid #97622c;



	text-transform:uppercase;



	float:left;



	display:block;



	font-size:11px;



	font-weight:bold;



	margin:0px;



}







.social-icon li a{



	color:#97622c;



	text-decoration:none;



}



.social-icon li a:hover{



	color:#333333;



	text-decoration:none;



}







.social-icon li:first-child{



	border:none;



	padding:0px 0px 0px 0px;



}



.social-icon li:last-child{



	border:none;



	padding:0px 0px 0px 0px;



	position: absolute;



	right: 0;



        width: 5px;



}







.social-icon li:last-child:hover{



	width: 350px;



}







.social-icon li:last-child:hover .searchbox  { width:100%;}



.social-icon li:last-child:hover .searchbox-input 	{ background:#FBE7BF;}



.social-icon li:last-child:hover .searchbox-submit 	{ background:#FBE7BF;}















.social-icon img{



	display:block;



	width:15px;



	cursor:pointer;



	height:16px;



}











.tool-tip{



	position:absolute;



	display:block;



	margin:0 auto;



	left:40%;



	top:200px;



	z-index: 111



	}



	



.tool-tip .tip-one{



	display:block;



	width:20px;



	margin-left: 41px;



	height:25px;



}







.tool-tip .tip-one a{



	display:block;



	background:url(../images/tool_plus.png) no-repeat;



	width:20px;



	text-indent:-9999px;



	height:25px;



	-webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; transition: all .4s ease-in-out;



}







.tool-tip .tip-one a:hover{



	display:block;



	background:url(../images/tool_plus_hov.png) no-repeat;



	width:20px;



	text-indent:-9999px;



	height:25px;



}







.tool-tip .tip-two{



	display:block;



	width:20px;



	height:25px;



	/*margin:176px 0px 0px 356px;*/



	top: 176px;



    left: 315px;



    position: relative;



}



























/* --------------- Desktops and laptops ----------- */



@media only screen  and (min-width : 755px) {







.desktop-header{



	width:100%;



	height:549px;



	padding:0px 40px 0px 40px;



	background:url(../images/home_bg.jpg@id=123) left no-repeat;



	background-size: 100%;



}







.dektop-logo{



	width:266px;



	height:178px;



	float:left;



}











.desktop-header nav{



	font-family: 'Open Sans', sans-serif;



	text-transform:uppercase;



	width:460px;



	float:right;



	padding: 40px 0px 0px 10px;



}







.desktop-header nav ul{



	padding:0px;



	margin: 8px 0 0 0;



	position: relative; 



	



}







.desktop-header nav  li{



	text-transform:uppercase;



	font-size:14px;



	color:#fff !important;



	background:url(../images/nav_divider.jpg) left bottom no-repeat;



	list-style:none;



	font-weight:600;



	text-shadow: 2px 2px 0px rgba(150, 150, 150, 1);



	margin:0px;



}







.desktop-header nav  li a{



	color:#fff;



	text-decoration:none;



}







.desktop-header nav  li a:hover{



	color:#cc5024;



	text-decoration:none;



	text-shadow:none;



}







.desktop-header nav li:nth-child(1){



	padding:6px 0px 6px 0;



  	margin-left: 20px



}







.desktop-header nav li:nth-child(2){



	padding:6px 0px 6px 0;



  	margin-left: 73px



}







.desktop-header nav li:nth-child(3){



	padding:6px 0px 6px 0;



	margin-left: 105px



}







.desktop-header nav li:nth-child(4){



	padding:6px 0px 6px 0;



	margin-left: 125px



}







.desktop-header nav li:nth-child(5){



	padding:6px 0px 6px 0;



	margin-left: 135px



}







.desktop-header nav li:nth-child(6){



	padding:6px 0px 6px 0;



	margin-left: 140px



}



.desktop-header nav li:nth-child(7){



	padding:6px 0px 6px 0;



	margin-left: 142px



}







.desktop-kalpana{



	width:217px;



	height:155px;



	background:url(../images/kalpana_bg.png) left no-repeat;



	background-size: 100% 100%;



	float:right;



	clear:both;



	margin-top:23px;



}







.desktop-kalpana span{



	text-align:center;



	text-transform:uppercase;



	font-size:14px;



	color:#be441d;



	font-weight:bold;



	display:block;



	text-align:center;



	padding:25px 0px 5px 0;



}







.desktop-kalpana p{



	font-size:11px;



	padding:10px 15px 0px 15px;



	text-align:center;



}







.desktop-kalpana p span{



	display:block;



	padding:5px 5px 0px 5px;



	color:#76716b;



	font-size:10px;



}







.desktop-kalpana .button{



	padding:2px;



	background:#bf451e;



	text-transform:uppercase;



	color:#fff;



	font-size:11px;



	margin:10px auto;



	text-align:center;



	width:120px;



}







.desktop-kalpana .button a{



	color:#fff;



	cursor:pointer



}







.desktop-kalpana .button:hover{



	background:#333;



	cursor:pointer;



}







.desktop-otherlinks{



	width: 520px;



	margin: 20px 0px 0px 320px;



}







.desktop-otherlinks a{



	color:#fff;



}







.desktop-otherlinks a:hover{



	color:#bf451e;



	text-shadow:none;



}







.desktop-otherlinks .left{



	width:210px;



	float:left;



}







.desktop-otherlinks .left ul{



	padding:0px;



	margin:0px;



}







.desktop-otherlinks .left li{



	padding:4px 15px 5px 0px;



	margin:0px;



	text-shadow: 2px 2px 0px black;



	background:url(../images/cross_icon.png) right   no-repeat;



	font-weight:bold;



	font-size:14px;



	color:#fff;



	text-decoration:none;



	list-style:none;



	text-align:right;



	text-shadow: 2px 2px 0px rgba(150, 150, 150, 1);



}



.desktop-otherlinks .right{



	width:210px;



	float:left;



	padding-left:20px;



}







.desktop-otherlinks .right ul{



	padding:0px;



	margin:0px;



}







.desktop-otherlinks .right li{



	padding:4px 0px 5px 15px;



	margin:0px;



	text-shadow: 2px 2px 0px black;



	background:url(../images/cross_icon.png) left no-repeat;



	font-weight:bold;



	font-size:14px;



	color:#fff;



	text-decoration:none;



	list-style:none;



	text-align:left;



	text-shadow: 2px 2px 0px rgba(150, 150, 150, 1);



}







.desktop-namebx{



	float:left;



	position:absolute;



	margin: -109px 0px 0px 205px



	



}







.desktop-namebx p{



	font-size:13px;



	font-weight:bold;



	color:#fff;



}



.desktop-namebx span{



	display:block;



	margin-top:0px;







}







.desktop-namebx span a{



	color:#84351c;



	font-size:12px;



	padding:0px;



	}



	



.desktop-namebx span a:hover{



	color:#333;



}







/*Following class hide in Desktop view*/



.mobile-header{



	display:none;



	



}







.tab-header{



	display:none;



}







.social-cnt{



	display:none;



}











}























/* ------------------------- Tab View --------------------------------- */



@media all and (max-width: 755px) and (min-width: 755px){



	body{



	background:url(../images/tab_bg.png) top no-repeat;



	background-size:100%;



	padding:0px 0px 0px 0;



	}



	



.container{



	width:100% !important;



}







.tab-header{



	display:block;



	height:100% !important;







}







.tab-nav{



	padding-bottom:40px;



}







.tab-header nav ul{



	padding:0px;



	width:650px !important;



	margin:0 auto;



}







.tab-header nav li{



	font-family: 'Open Sans', sans-serif;



	font-weight:600;



	padding:4px 10px 4px 10px;



	text-transform:uppercase;



	font-size:13px;



	color:#fff;



	list-style:none;



	float:left;



	margin:0px;



}







.tab-header nav li a{



	color:#fff;



}







.tab-header nav li a:hover{



	color:#000;



}











.tab-logo{



	width:200px;



	height:125px;



	float:left;



	



}







.tab-circule{



	width:305px;



	height:267px;



	margin:0 auto;



	background:url(../images/img_tab_02.png) no-repeat;



	



}











.tab-cnt-bx img{



	width:100%;



	margin-bottom:10px;



}















.social-icon{



	color:#97622c;



	padding:15px 0px 0px 0px;



	float:right !important;



	width:330px;



	position:absolute !important;



	margin:30px 0px 0px 480px;



}











.tab-kalpana{



	width:217px;



	height:172px;



	background:url(../images/kalpana_bg-tab.png) left no-repeat;



	position:absolute;



	right:0px;



	margin-top:40px;



}







.tab-kalpana span{



	text-align:center;



	text-transform:uppercase;



	font-size:14px;



	color:#be441d;



	font-weight:bold;



	display:block;



	text-align:center;



	padding:32px 0px 5px 0;



}







.tab-kalpana p{



	font-size:11px;



	padding:10px 15px 0px 15px;



	text-align:center;



}







.tab-kalpana p span{



	display:block;



	padding:5px 5px 0px 5px;



	color:#76716b;



	font-size:10px;



}







.tab-kalpana .button{



	padding:2px;



	background:#bf451e;



	text-transform:uppercase;



	color:#fff;



	font-size:11px;



	margin:0 auto;



	text-align:center;



	width:85px;



}







.tab-kalpana .button a{



	color:#fff;



	cursor:pointer



}







.tab-kalpana .button:hover{



	background:#333;



	cursor:pointer;



}







.tab-other-link{



	width:650px;



	margin:0 auto;



	padding:30px 0 20px 0;



}







.tab-other-link ul{



	padding:0px 0px 40px 150px;



	margin:0px;



}







.tab-other-link li{



	padding:0px 10px 0px 10px;



    list-style:none;



	color:#fff;



	border-right:1px solid #fff;



	float:left;



	font-weight:800;



	text-align:center;



	margin:0px;



}







.tab-other-link li:last-child{



	border:none;



}











	



	



	



/*Following class hide in Tab view*/	



/* Sabil 22-10-2015 .desktop-header{



	display:none;



	}

*/





.mobile-header{



	display:none;



}



















.content-wrapper{



	margin-top:0%;



	



	}







footer{



	background:none !important;



	width:0 !important;



}



	



}











@media all and (max-width: 791px) and (min-width: 791px){



	body{



	/* Sabil 22-10-2015 background:url(../images/tab_bg.png) top no-repeat;*/



	background-size:100%;



	padding:0px 0px 0px 0;



	}



	



.container{



	width:100% !important;



}







.tab-header{



	display:block !important;



	height:100% !important;







}







.tab-nav{



	padding-bottom:40px;



}







.tab-nav ul{



	padding:0px;



	width:650px !important;



	margin:0 auto;



}







.tab-nav li{



	font-family: 'Open Sans', sans-serif;



	font-weight:600;



	padding:4px 10px 4px 10px;



	text-transform:uppercase;



	font-size:13px;



	color:#fff;



	list-style:none;



	float:left;



	margin:0px;



}







.tab-nav li a{



	color:#fff;



}







.tab-nav li a:hover{



	color:#000;



}











.tab-logo{



	width:200px;



	height:125px;



	float:left;



	



}







.tab-circule{



	width:305px;



	height:267px;



	margin:0 auto;



	background:url(../images/img_tab_02.png) no-repeat;



	



}











.tab-cnt-bx img{



	width:100%;



	margin-bottom:10px;



}















.social-icon{



	color:#97622c;



	padding:15px 0px 0px 0px;



	float:right !important;



	width:330px;



	position:absolute !important;



	margin:30px 0px 0px 480px;



}











.tab-kalpana{



	width:217px;



	height:172px;



	background:url(../images/kalpana_bg-tab.png) left no-repeat;



	position:absolute;



	right:0px;



	margin-top:40px;



}







.tab-kalpana span{



	text-align:center;



	text-transform:uppercase;



	font-size:14px;



	color:#be441d;



	font-weight:bold;



	display:block;



	text-align:center;



	padding:32px 0px 5px 0;



}







.tab-kalpana p{



	font-size:11px;



	padding:10px 15px 0px 15px;



	text-align:center;



}







.tab-kalpana p span{



	display:block;



	padding:5px 5px 0px 5px;



	color:#76716b;



	font-size:10px;



}







.tab-kalpana .button{



	padding:2px;



	background:#bf451e;



	text-transform:uppercase;



	color:#fff;



	font-size:11px;



	margin:0 auto;



	text-align:center;



	width:85px;



}







.tab-kalpana .button a{



	color:#fff;



	cursor:pointer



}







.tab-kalpana .button:hover{



	background:#333;



	cursor:pointer;



}







.tab-other-link{



	width:650px;



	margin:0 auto;



	padding:30px 0 20px 0;



}







.tab-other-link ul{



	padding:10px 0px 30px 150px;



	margin:0px;



}







.tab-other-link li{



	padding:5px 10px 0px 10px;



    list-style:none;



	color:#fff;



	border-right:1px solid #fff;



	float:left;



	font-weight:800;



	text-align:center;



	margin:0px;



}







.tab-other-link li:last-child{



	border:none;



}











	



	



	



/*Following class hide in Tab view*/	



.desktop-header{



	display:none;



	}







.mobile-header{



	display:none;



}



















.content-wrapper{



	margin-top:0%;



	



	}







footer{



	background:none !important;



	width:0 !important;



}



	



}







@media all and (max-width: 975px) and (min-width: 975px){



	body{



	background:url(../images/tab_bg.png) top no-repeat;



	background-size:100%;



	padding:0px 0px 0px 0;



	}



	



.container{



	width:100% !important;



}







.tab-header{



	/*display:block;

*/

	height:100% !important;







}







.tab-nav{



	padding-bottom:40px;



}







.tab-nav ul{



	padding:0px;



	width:650px !important;



	margin:0 auto;



}







.tab-nav li{



	font-family: 'Open Sans', sans-serif;



	font-weight:600;



	padding:4px 10px 4px 10px;



	text-transform:uppercase;



	font-size:13px;



	color:#fff;



	list-style:none;



	float:left;



	margin:0px;



}







.tab-nav li a{



	color:#fff;



}







.tab-nav li a:hover{



	color:#000;



}











.tab-logo{



	width:200px;



	height:125px;



	float:left;



	



}







.tab-circule{



	width:305px;



	height:267px;



	margin:0 auto;



	margin-top:80px;



	background:url(../images/img_tab_02.png) no-repeat;



	



}











.tab-cnt-bx img{



	width:100%;



	margin-bottom:10px;



}















.social-icon{



	color:#97622c;



	padding:15px 0px 0px 0px;



	float:right !important;



	width:330px;



	position:absolute !important;



	margin:30px 0px 0px 480px;



	display:none;



}











.tab-kalpana{



	width:217px;



	height:172px;



	background:url(../images/kalpana_bg-tab.png) left no-repeat;



	position:absolute;



	right:0px;



	margin-top:40px;



}







.tab-kalpana span{



	text-align:center;



	text-transform:uppercase;



	font-size:14px;



	color:#be441d;



	font-weight:bold;



	display:block;



	text-align:center;



	padding:32px 0px 5px 0;



}







.tab-kalpana p{



	font-size:11px;



	padding:10px 15px 0px 15px;



	text-align:center;



}







.tab-kalpana p span{



	display:block;



	padding:5px 5px 0px 5px;



	color:#76716b;



	font-size:10px;



}







.tab-kalpana .button{



	padding:2px;



	background:#bf451e;



	text-transform:uppercase;



	color:#fff;



	font-size:11px;



	margin:0 auto;



	text-align:center;



	width:85px;



}







.tab-kalpana .button a{



	color:#fff;



	cursor:pointer



}







.tab-kalpana .button:hover{



	background:#333;



	cursor:pointer;



}







.tab-other-link{



	width:650px;



	margin:0 auto;



	padding:30px 0 20px 0;



}







.tab-other-link ul{



	padding:10px 0px 40px 150px;



	margin:0px;



}







.tab-other-link li{



	padding:5px 10px 0px 10px;



    list-style:none;



	color:#fff;



	border-right:1px solid #fff;



	float:left;



	font-weight:800;



	text-align:center;



	margin:0px;



}







.tab-other-link li:last-child{



	border:none;



}











	



	



	



/*Following class hide in Tab view*/	



.desktop-header{



	display:none;



	}







.mobile-header{



	display:none;



}



















.content-wrapper{



	margin-top:0%;



	



	}







footer{



	background:none !important;



	width:0 !important;



}



	



}











/* ------------------------- Tab Landsape --------------------------------- */



@media all and (max-width: 1024px) and (min-width: 1024px){



	body{



	

	}



	



.container{



	width:100% !important;



}







.tab-header{



	/*display:block !important;

*/

	height:100% !important;







}







.tab-nav{



	padding-bottom:40px;



}







.tab-nav ul{



	padding:0px;



	width:650px !important;



	margin:0 auto;



}







.tab-nav li{



	font-family: 'Open Sans', sans-serif;



	font-weight:600;



	padding:4px 10px 4px 10px;



	text-transform:uppercase;



	font-size:13px;



	color:#fff;



	list-style:none;



	float:left;



	margin:0px;



}







.tab-nav li a{



	color:#fff;



}







.tab-nav li a:hover{



	color:#000;



}











.tab-logo{



	width:200px;



	height:125px;



	float:left;



	



}







.tab-circule{



	width:305px;



	height:267px;



	margin:0 auto;



	margin-top:80px;



	background:url(../images/img_tab_02.png) no-repeat;



	



}











.tab-cnt-bx img{



	width:100%;



	margin-bottom:10px;



}















/*.social-icon{



	color:#97622c;



	padding:15px 0px 0px 0px;



	float:right !important;



	width:330px;



	position:absolute !important;



	margin:40px 0px 0px 720px;



}*/











.tab-kalpana{



	width:217px;



	height:172px;



	background:url(../images/kalpana_bg-tab.png) left no-repeat;



	position:absolute;



	right:0px;



	margin-top:40px;



}







.tab-kalpana span{



	text-align:center;



	text-transform:uppercase;



	font-size:14px;



	color:#be441d;



	font-weight:bold;



	display:block;



	text-align:center;



	padding:32px 0px 5px 0;



}







.tab-kalpana p{



	font-size:11px;



	padding:10px 15px 0px 15px;



	text-align:center;



}







.tab-kalpana p span{



	display:block;



	padding:5px 5px 0px 5px;



	color:#76716b;



	font-size:10px;



}







.tab-kalpana .button{



	padding:2px;



	background:#bf451e;



	text-transform:uppercase;



	color:#fff;



	font-size:11px;



	margin:0 auto;



	text-align:center;



	width:85px;



}







.tab-kalpana .button a{



	color:#fff;



	cursor:pointer



}







.tab-kalpana .button:hover{



	background:#333;



	cursor:pointer;



}







.tab-other-link{



	width:550px;



	margin:0 auto;



	padding-top:60px;



}







.tab-other-link ul{



	padding:0px 0px 50px 50px;



	margin:0px;



}







.tab-other-link li{



	padding:5px 10px 5px 10px;



    list-style:none;



	color:#fff;



	border-right:1px solid #fff;



	float:left;



	font-weight:800;



	text-align:center;



	margin:0px;



}







.tab-other-link li:last-child{



	border:none;



}











	



	



	



/*Following class hide in Tab view*/	



/* Sabil 22-10-2015 .desktop-header{



	display:none;



	}*/







.mobile-header{



	display:none;



}



















/* Sabil 22-10-2015 



    .content-wrapper{



	margin-top:5%;



	



	footer{



	background:none !important;



	width:0 !important;



}

*/

	



}







footer{



	background:url(../images/desktop-footer_bg.png) no-repeat;



	width:100%;



	height:75px;



	background-size: 100%



}















/* ------------------------- Mobile View --------------------------------- */



@media only screen  and (max-width : 754px) {



body{



	background:url(../images/mobile_bg.jpg) top no-repeat;



	background-position:0px -50px;



	background-size: 100% 550px;



	width:100%;



		



	}



	



.mobile-header{



	padding: 5px 0 0 0;



}











.mobile-logo{



	width:200px;



	height:125px;



	margin:0 auto;



}







.mobile-circule{



	width:215px;



	height:185px;



	background:url(../images/img_mob02.png) no-repeat;



	margin:0 auto;



	



}







.mobile-other-links{



	color:#fff;



}







.navbar-default{



	position:absolute;



	z-index:100;



	right:0 !important;



	width:100%;



	overflow:hidden;



    background:none;



	border:0;



}



.navbar-toggle{



	background:#333 !important;



	border:none;



}



.navbar-collapse {



	border:none !important;



	width:100% !important;



}



.navbar-default nav{



	background:#fff;



	padding:0px !important;



	width:100% !important;



	margin:0px !important;



}







.navbar-default nav ul li{



	padding:3px !important;



	width:100% !important;



	margin:0px !important;



}







.navbar-nav{



	margin:0 !important; 



}







.nav-bar{



	display:none;



}







.mobile-other-links li a{



	color:#fff;



}







.mobile-other-links li a:hover{



	color:#333;



}







.mobile-other-links .left{



}







.mobile-other-links .left ul{



	padding:0px;



	margin:0px;



}







.mobile-other-links .left li{



	padding:0px;



	list-style:none;



	text-align:right;



	margin:0px;



}











.mobile-other-links .right{



}







.mobile-other-links .right ul{



	padding:0px;



	margin:0px;



}







.mobile-other-links .right li{



	padding:0px;



	list-style:none;



	text-align:left;



	margin:0px;



}











.mobile-kalpana{



	width:217px;



	height:172px;



	background:url(../images/kalpana_bg.png) left no-repeat;



	margin:0 auto;



	margin-bottom:20px;



}







.mobile-kalpana span{



	text-align:center;



	text-transform:uppercase;



	font-size:14px;



	color:#be441d;



	font-weight:bold;



	display:block;



	text-align:center;



	padding:32px 0px 5px 0;



}







.mobile-kalpana p{



	font-size:11px;



	padding:10px 15px 0px 15px;



	text-align:center;



}







.mobile-kalpana p span{



	display:block;



	padding:5px 5px 0px 5px;



	color:#76716b;



	font-size:10px;



}







.mobile-kalpana .button{



	padding:2px;



	background:#bf451e;



	text-transform:uppercase;



	color:#fff;



	font-size:11px;



	margin:0 auto;



	text-align:center;



	width:85px;



}







.mobile-kalpana .button a{



	color:#fff;



	cursor:pointer



}







.mobile-kalpana .button:hover{



	background:#333;



	cursor:pointer;



}











.tab-cnt-bx img{



	width:100%;



	height:auto;



	margin-bottom:20px;



}







.nav > li > a {



    color: #4f4e4e;



    display: block;



    font-size: 10px;



    padding: 5px;



    position: relative;



    text-transform: uppercase;



}







footer{



	background:none !important;



	width:0 !important;



}











/*Following class hide in Mobile view*/	



.desktop-header{



	display:none;



	}







.tab-header{



	display:none;



}



		



.flash-news{



	display:none;



}







.social-icon {



	display:none;



}



	



}







































































/*Bottom area*/







.content-wrapper{



	background:#fff;



	



}







.content-wrapper .inner{



	padding:0px 35px 0px 35px;



}







.access-button{



	width:220px;



	



}







.access-button .button{



	padding:8px;



	background:#e1ad73;



	color:#fff;



	float:left;



	margin-right:10px;







}







.access-button .button a{



	color:#fff;



}



.access-button .button:hover{



	background:#bf451e;



}







.access-button .action-open{



	background:url(../images/open.jpg) left no-repeat;



	display:block;



	padding-left:25px;



	margin-top:15px;



	width:45px;



	float:left;



	color: #AD7333;



}







.access-button .action-closed{



	background:url(../images/close.jpg) left no-repeat;



	display:block;



	padding-left:25px;



	margin-top:15px;



	width:45px;



	float:left;



	color:#AD7333;



}







.access-button .action-open .action-closed a{



	color:#7a7a7a;



}







.flash-news{



	border:1px solid #ebebeb;



	height:35px;



	margin:10px 0px 10px 0;



}







.flash-news span{



	display:block;



	color:#fff;



	background:#bf451e;



	padding:7px;



	width:100px;



	float:left;



	text-align:center;



}







.flash-news p{



	color:#5b5858;



	font-size:12px;



	text-align:left;



	padding:8px 0px 0px 35px;



}



.no-padding{



	padding:0px;



}







.tab-bg{



	background:#e7e5e5;



	padding:10px;



	}







.tab-panel{



	background:#fff;



	padding:0px 10px 0px 10px;



}







.tab-panel .panel{



	background:none !important;



	border:#FFF !important;



	padding:0 !important;



	box-shadow:none;



}







.tab-content{



	-webkit-box-shadow: 0px -2px 3px 0px rgba(50, 50, 50, 0.12);



   -moz-box-shadow:    0px -2px 3px 0px rgba(50, 50, 50, 0.12);



   box-shadow:         0px -2px 3px 0px rgba(50, 50, 50, 0.12);



   background:#fff;



   border-bottom:1px #e2e0e0 solid;



   padding:12px;



}







.tab-cnt-bx{



	padding:5px;



}







.tab-cnt-bx p{



	font-size:11px;



	color:#aa7535;



	font-weight:bold;



	line-height:16px;



}







.tab-cnt-bx img{



	margin-right:15px;



	float:left;



	clear:right;



}







.bottom-links{



	padding:10px 0 0 0;



}







.bottom-links ul{



	padding:0px;



	margin:0;



}







.bottom-links li{



	padding:0px 10px 0px 10px;



	float:left;



	color:#a76616;



	font-size:10px;



	float:left;



	list-style:none;



	text-transform:uppercase;



	margin:0;



}







.bottom-links li a{



	color:#a76616;



}







.bottom-links li a:hover{



	color:#333333;



}







.bottom-links p{



	color:#949393;



	font-size:10px;



}







.ipsr{



	text-transform:uppercase;



	font-weight:800;



	font-size:9px !important;



	font-family: 'Open Sans', sans-serif;



}







.ipsr a{ 



    color:#949393;



}















/* Code By Sabil */



.main-container 					{ position: relative;}



.resp-tab-content img 				{ max-width: 100% !important}



.resp-tab-content iframe img 		{ max-width: 100% !important; width: 100% !important}



.bottom-links 						{ padding: 0px 25px;}



.tab-cnt-bx img 					{ max-width: 100% !important; width: 100% !important}



#user-options 						{ position: absolute; right: 0; width: 200px; top: 15px;}







.searchbox 							{ position:relative; min-width:30px; width:0%; margin-top: -5px; height:50px; float:right; overflow:hidden;    



								      -webkit-transition: width 0.3s;



								      -moz-transition: width 0.3s;



								      -ms-transition: width 0.3s;



								      -o-transition: width 0.3s;



								      transition: width 0.3s;



									}







.searchbox-input 					{ top:0; right:0; border:0; outline:0; background: transparent; width:100%; height:30px; margin:0; padding:0px 20px 0px 10px; font-size:20px;  



									  color:333; font-family: 'Open Sans', sans-serif; font-size: 14px;



 									}



.searchbox-input::-webkit-input-placeholder { color: #666;}



.searchbox-input:-moz-placeholder 			{ color: #666;}



.searchbox-input::-moz-placeholder 			{ color: #666;}



.searchbox-input:-ms-input-placeholder 		{ color: #666;}



.searchbox-icon,



.searchbox-submit 					{ width:20px; height:20px; display:block; position:absolute; top: 6px; font-family:verdana; font-size:22px; right:0; padding:0;  margin:0; border:0; outline:0;



    								  line-height:30px; text-align:center; cursor:pointer; color:transparent; background: transparent;



    								}



.searchbox-open 					{ width:100%;}



.searchbox-open .searchbox-input 	{ background:#FBE7BF;}



.searchbox-open .searchbox-submit 	{ background:#FBE7BF;}



.byline 							{ position:absolute; top:150px; left:30%; text-align:center; font-size:18px;}



.byline a 							{ text-decoration:none; color: #d74b4b;}







.banner-image 						{ border: 3px solid #fff; position: absolute; top: 283px; left: 45px; border-radius: 100%; overflow: hidden; display: inline-block; width: 200px; height: 200px;}



.banner-image img 					{ width: 100%}



.Zebra_Tooltip a 					{ display: block; color: #000; font-size: 13px; }







body 								{ position: relative;}



pre 								{ tab-size: 8;}



.banner-tooltip 					{ display: none;}







.gallery-header 					{ display: inline-block; width: 100%; font-family: 'Open Sans', sans-serif; background: url(../images/gallery-bg.png) ;



									  background-size: 100%;  padding: 0 25px; position: relative; z-index: 999



									}



.gallery-header::after 				{ content: ""; width: 100%; height: 100px; background: url(../images/header-bg-bottom.png) no-repeat; display: inline-block; width: 100%;



									  background-size: 100%; position: absolute; left: 0; left: 0; bottom: -100px;



									}



.gallery-container 					{ position: relative; font-family: 'Open Sans', sans-serif; z-index: 9; background: #fff; padding: 0 25px; display: inline-block; width: 100%; min-height: 300px; padding-top: 35px}



.gallery-container h2 				{ font-size: 26px; font-weight: 700; display: inline-block; margin: 25px 0 15px 0}



.gallery-nav 						{ float: right; margin-top: 75px; padding: 0}



.gallery-nav li 					{ display: inline-block; margin-left: 5px}



.gallery-nav li a 					{ padding: 5px 10px; display: inline-block; background: #7c4002; background: rgba(125,65,2,.25); border: 2px solid #eeddb7; 



									 border: 2px solid rgba(238,221,183,.3); font-size: 14px; color: #fff; font-weight: 700; text-transform: uppercase; text-shadow: 1px 1px 1px #424242;



									}



.gallery-main 						{ margin-top: 50px; text-align: center; display: inline-block; width: 100%}



.gallery-main .col-md-2 			{ width: 20%; padding-left: 10px; padding-right: 10px; margin-bottom: 25px}



.gallery-main .col-md-2 .img 		{ width: 200px; height: 200px; /*border-radius: 100%;*/ border: 3px solid #eee1c4; display: inline-block; overflow: hidden;}



.gallery-main .col-md-2 .img img	{ height: 100% !important; width: 100%}



.gallery-main .col-md-2 .title 		{ margin-top: 15px; display: inline-block; padding: 5px; background: #7c4002; background: rgba(124,64,2,.25); font-size: 14px; color: #fff; 



									  font-weight: 700; text-transform: uppercase; text-shadow: 1px 1px 1px #424242; width: 100%; text-align: center;



									}



.gallery-row 						{ display: inline-block; width: 100%; padding: 15px; border: 3px solid #f2f2f2; border-radius: 4px; margin-bottom: 10px}



.gallery-row .row 					{ margin-left: -10px; margin-right: -10px}



.gallery-row .col-md-2 				{ width: 20%; padding-left: 10px; padding-right: 10px; text-align: center;}



.gallery-row .img img 				{ width: 100%}



.gallery-row .heading 				{ font-size: 16px; color: #494848; text-transform: uppercase; font-weight: 700; margin-bottom: 10px; display: inline-block;}



.gallery-row .heading:hover,



.gallery-row .heading:focus 		{ color: #B37831}



.gallery-row .title 				{ color: #494848; font-size: 12px; font-weight: 700; line-height: 13px; display: inline-block; margin: 5px 0;}



.gallery-row .col-md-2:hover .title { color: #B37831}







.audio-wrap 						{ width: 100%; height: 300px; background: url(../images/player-bg.jpg) center no-repeat #f4ead0; display: inline-block;}



.audio-in 							{ position: relative; top: 50%; left: 50%; margin-top: -15px; margin-left: -150px; display: inline-block;}



.gallery-container .slide a span 	{ text-align: center; color: #666; display: block;} 















/*



Sken code



*/



.secone .button{



    padding: 4px;



    background: #bf451e;



    text-transform: uppercase;



    color: #fff;



    font-size: 11px;



    margin: 25px 47px auto;



    text-align: center;



    width: 120px;



}







.secone .button a{



	color: #fff;



}



.secone .button ul li{



	list-style: none;



	margin-left: -32px;



	margin-bottom: -10px;



	}







.amazingslider-bottom-shadow-1 img{display: none !important;}	



/*



End Sken code



*/















@media only screen  and (max-width : 1299px) {



	.desktop-header 				{ width: 100%; background-size: 100%;  height: 637px;}



	.dektop-logo img 				{ width: 100%}



	.dektop-logo 					{ width: 200px;  }



	.desktop-header nav ul 			{ padding-left: 14px; margin: 15px 0 0;}



	.desktop-header nav li:nth-child(1) { margin-left: 30px;  padding: 3px 0px 3px 0}



	.desktop-header nav li:nth-child(2) { margin-left: 64px;  padding: 3px 0px 3px 0}



	.desktop-header nav li:nth-child(3) { margin-left: 84px;  padding: 3px 0px 3px 0}



	.desktop-header nav li:nth-child(4) { margin-left: 100px; padding: 3px 0px 3px 0}



	.desktop-header nav li:nth-child(5) { margin-left: 111px; padding: 3px 0px 3px 0}



	.desktop-header nav li:nth-child(6) { margin-left: 117px; padding: 3px 0px 3px 0}



	.desktop-header nav li:nth-child(7) { margin-left: 121px; padding: 6px 0px 6px 0;}



	.desktop-header nav 			{ padding: 55px 0px 0px 10px;}



	.desktop-otherlinks				{ margin: 31px 0px 0px 306px;}



	.desktop-otherlinks .left li 	{ padding: 5px 15px 5px 0px;}



	.desktop-otherlinks .right li 	{ padding: 5px 0px 5px 15px;}



	footer 							{ width: 100%; background-size: 100%}



	.desktop-namebx 				{ /*margin: -78px 0px 0px 200px*/}



	.tool-tip .tip-two 				{ /*margin: 128px 0px 0px 367px;*/}



	.gallery-main .col-md-2  		{ float: none; display: inline-block; width: 180px}



	.gallery-main .col-md-2 .img 	{ width: 160px; height: 160px;}



	.gallery-main 					{ margin-top: 0}



	.gallery-header .dektop-logo  	{ float: left;}







}







@media only screen and (max-width: 1199px){



	.desktop-otherlinks 			{ margin: -13px 0px 0px 206px}



	.desktop-header 				{ height: 525px;}



	.desktop-header nav ul 				{ padding-left: 14px; margin: 0 0 0;}



	.desktop-header nav li:nth-child(1) { margin-left: 120px; padding: 3px 0px 3px 0}



	.desktop-header nav li:nth-child(2) { margin-left: 137px; padding: 3px 0px 3px 0}



	.desktop-header nav li:nth-child(3) { margin-left: 153px; padding: 3px 0px 3px 0}



	.desktop-header nav li:nth-child(4) { margin-left: 166px; padding: 3px 0px 3px 0}



	.desktop-header nav li:nth-child(5) { margin-left: 172px; padding: 3px 0px 3px 0}



	.desktop-header nav li:nth-child(6) { margin-left: 175px; padding: 3px 0px 3px 0}



	.desktop-header nav li:nth-child(7) { margin-left: 198px; padding: 6px 0px 6px 0;}



	.desktop-kalpana 				{ width: 200px; height: 150px; background-size: 100% 100%; margin: 5px 0 0 5px}



	.desktop-kalpana span 			{ padding: 22px 0px 5px 0;}



	.desktop-namebx 				{ margin: -64px 0px 0px 158px}



	.desktop-otherlinks .left li 	{ padding: 2px 15px 2px 0px;}



	.desktop-otherlinks .right li 	{ padding: 2px 0px 2px 15px;}



	.bottom-links .col-md-6,



	.bottom-links .col-md-4,



	.bottom-links .col-md-2 		{ width: 100%; text-align: center;}



	.bottom-links ul 				{ display: inline-block; float: none;}



	.bottom-links li 				{ float: none; display: inline-block;}



	.banner-image 					{ top: 233px; width: 160px; height: 160px;}



	.tool-tip .tip-one 				{ margin-left: 17px;}



	.tool-tip .tip-two 				{ /*margin: 99px 0px 0px 294px;*/ top: 115px; left: 270px}



	.secone .button 				{ margin: 25px 39px auto;}



}







@media only screen  and (max-width : 991px) {



	.dektop-logo 					{ width: 160px;  }



	.desktop-header 				{ height: 402px;}



	.desktop-header nav ul 			{ padding-left: 116px;}



	.desktop-header nav li:nth-child(1) { margin-left: 9px; padding: 3px 0px 3px 0}



	.desktop-header nav li:nth-child(2) { margin-left: 35px; padding: 3px 0px 3px 0}



	.desktop-header nav li:nth-child(3) { margin-left: 49px; padding: 3px 0px 3px 0}



	.desktop-header nav li:nth-child(4) { margin-left: 57px; padding: 3px 0px 3px 0}



	.desktop-header nav li:nth-child(5) { margin-left: 58px; padding: 3px 0px 3px 0}



	.desktop-header nav li:nth-child(6) { margin-left: 81px; padding: 3px 0px 3px 0}



	.desktop-header nav li:nth-child(7) { margin-left: 92px; padding: 3px 0px 3px 0}



	.desktop-kalpana p 				{ display: none;}



	.desktop-kalpana 				{ width: 115px; background-size: 100%; height: 85px;}



	.desktop-kalpana span 			{ padding: 18px 0px 5px 0;}



	.tool-tip .tip-two 				{ margin: 35px 0px 0px 97px;}



	.desktop-otherlinks 			{ margin: -120px 0px 0px 106px}



	.desktop-otherlinks .left ul 	{ margin: -19px 0 0 0;}



	.desktop-otherlinks .left li 	{ padding: 1px 15px 1px 0px; line-height: 17px;}



	.desktop-otherlinks .right li 	{ padding: 1px 0px 1px 15px; line-height: 17px;}



	.desktop-otherlinks .right ul   { margin: -66px 0 0 0;}



	.desktop-namebx 				{ margin: -105px 0px 0px 93px; background-color: rgba(191, 69, 30,.8); 



									  padding: 5px 10px 5px 25px; border-radius: 5px;}



	.desktop-otherlinks .right 		{ padding-left: 10px;}



	.desktop-namebx span a 			{ color: #FFF6E3;}



	.desktop-namebx span a:hover,



	.desktop-namebx span a:focus 	{ color: #fff;}



	.desktop-namebx p 				{ font-size: 13px !important; color: #fff !important}



	.content-wrapper .inner 		{ padding: 0px 10px 0px 10px;}



	.desktop-header nav 			{ padding: 40px 0px 0px 0px;}	



	.banner-image 					{ top: -133px; width: 115px; height: 115px; left: -11px }



	.tool-tip .tip-one 				{ margin-left: 11px;  margin-top: -41px;}



	.tool-tip .tip-two 				{ /*margin: 76px 0px 0px 216px;*/ top: 108px; left: 211px;}	



	.mobile-circule 				{ margin: 0px auto 0 auto; position: relative; left: 25px;}



	.banner-image 					{ position: relative; z-index: 9}



	.gallery-nav 					{ margin-top: 40px;}



	.gallery-main .col-md-2 		{ width: 215px;	}



	.gallery-row .col-md-2 			{ width: 20%; float: left;}



	.desktop-kalpana .button 		{ width: 90px;}



	.secone .button 				{ margin: 25px -2px auto;}



}







@media only screen  and (max-width : 791px) {



	.secone .button 				{ margin: 25px 45px auto;}



	.tab-kalpana .button 			{ width: 120px;}



}



@media only screen  and (max-width : 790px) {



	.secone .button 				{ margin: 25px 11px auto;}



}



@media only screen  and (max-width : 755px) {



	.secone .button 				{ margin: 25px 48px auto;}



}







@media only screen  and (max-width : 755px) {



	.banner-image                   { left: 50%; margin-left: -135px; margin-top: -90px; width: 100px; height: 100px; top: 186px;} 



	.desktop-namebx 				{ width: 150px; margin: 7px 0px 0px -230px; position: absolute; left: 50%; }



	.mobile-circule 				{ margin: 0px auto 0 auto;}



	.banner-tooltip 				{ display: inline-block; margin-left: -36px; margin-top: 60px;}



	.side-collapse-container		{ width:100%; position:relative; left:0; transition:left .4s; }



	.side-collapse-container.out 	{ left:200px;}



	.side-collapse 					{ top:0; bottom:0; left:0; position:fixed; overflow:hidden; transition:left .4s; width: 200px; z-index: 7;}



	.side-collapse.in 				{ left: -200px;	}



	.navbar-toggle					{ position: fixed; z-index: 99999; margin-left: 12px;}



	.navbar-inverse .navbar-collapse, 



	.navbar-inverse .navbar-form 	{ position: relative; top: 62px;}



	.navbar-default nav 			{ background: transparent;}



	.navbar-inverse 				{ background-color: #A5320E;}



	.navbar-inverse .navbar-nav > li > a{ color: #fff}



	.navbar-toggle 					{ border: none; background: transparent !important;	}



	.navbar-toggle:hover 			{ background: transparent !important;}



	.navbar-toggle .icon-bar 		{ width: 30px; transition: all 0.2s; height: 4px; background: #fff !important}



	.nav > li > a 					{ padding: 5px 20px;}



	span.btn-text 					{ padding-left: 40px; float: left; margin-top: -18px; color: #fff;}



    .navbar-default .navbar-toggle .icon-bar 	{ -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.5);box-shadow: 0 0 5px 0 rgba(0,0,0,.5);}



    .navbar-default .navbar-toggle .btn-text 	{ text-shadow: 1px 1px 1px #5C5C5C;}	



	.desktop-namebx 				{ display: none;}



	.desktop-namebx-mob 			{ margin: 0; padding: 0; left: 0; top: 0; background: transparent;}



	.desktop-namebx-mob p 			{ font-size: 13px; line-height: 1; padding-top: 3px; color: #bf451e;}



	.desktop-namebx-mob a 			{ display: inline-block; font-size: 13px}



	.navbar-default 				{ z-index: 999;}



	.desktop-header nav ul 			{ z-index: 999}



	.tool-tip 						{ display: inline-block; width: 220px; position: absolute; left: 50%; margin-left: -110px;}



	.tip1 							{ margin-left: 111px !important; margin-top: -52px !important;}



	.tip2							{ top: 102px !important; left: 0 !important; margin-left: 210px !important}



	.tip3 							{ margin-left: 16px !important; margin-top: 66px !important;}



	.navbar-default 				{ overflow: visible;}



	.navbar-default nav 			{ z-index: 9999}



	.navbar-nav,



	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form 					{ z-index: 9999999 !important;}



	.gallery-header 				{ padding: 0 10px}



	.gallery-main 					{ margin-top: 25px}



	.gallery-header .head,



	.gallery-header .thumb 			{ display: inline-block; width: 100%} 



	.gallery-row .col-md-2 			{ width: 33.3333%}



	.gallery-row .col-md-2:nth-child(4), 		



	.gallery-row .col-md-2:nth-child(5){ display: none;}



	.mobile-kalpana .button 		{ width: 120px; margin-top: 20px;} 



	.secone .button 				{ margin: 47px 48px 20px auto;}		







}







@media only screen  and (max-width : 560px) {



 	.gallery-header .dektop-logo 	{ width: 100%; text-align: center;}



 	.gallery-header .dektop-logo img{ width: 150px}



	.mobile-circule 				{ margin: -15px auto 0 auto;}



	.desktop-namebx 				{ margin: 7px 0px 0px 50px; left: 10%;}	



	.banner-image 					{ position: relative; top: 172px;}



	.banner-tooltip 				{ display: inline-block;  margin-left: -55px; margin-top: 49px;}



	.tool-tip 						{ top: 188px}



	.gallery-header .dektop-logo 	{ width: 100%}



	.gallery-nav 					{ width: 100%; text-align: center;}



	.gallery-nav li 				{ margin: 0 2px; }







}



@media only screen  and (max-width : 520px) {



	.gallery-row .col-md-2:nth-child(3){ display: none;}  



	.gallery-row .col-md-2 			{ width: 50%}



}







@media only screen  and (max-width : 420px) {



	.mobile-other-links .right  	{ padding-left: 20px;}



	.mobile-other-links li a 		{ font-size: 13px;}



	.gallery-row .col-md-2:nth-child(2){ display: none;}  



	.gallery-row .col-md-2 			{ width: 100%}







}











.gal_detail 					{ padding:0px 0 0px 0;}



.gal_detail img 				{ width:100%;}



.gal_detail span 				{ background-color: #c68a3d; padding: 5px 20px; }



.gal_detail span a 				{ color:#fff !important;}



.gal_detail span a:hover 		{ color:#000 !important;}



.amazingslider-img-box-1 		{ text-align:center !important; left:inherit !important;}



.amazingslider-img-box-1 img 	{ width:auto !important; height: 100% !important; margin-top:0 !important; 



								  left:inherit !important; position: inherit !important;}



.amazingslider-img-1 			{ position: relative !important; padding:20px 0 0 0 !important;}



.amazingslider-wrapper-1 		{ margin-top:20px !important;}



@media (min-width: 1299px){

.desktop-header{  height: 640px !important;}



}

/* Sabil 22-10-2015 */

/*.mobile-header 				{ display: none !important}

.tab-header 				{ display: none !important}



@media only screen  and (max-width : 768px) {

.tab-header 				{ display: block !important}

}*/

@media all and (max-width: 1200px) and (min-width: 975px){
	.menu-topmenu-bottom-left-container { margin-top: -13px;}
	.menu-top-bottom-right-container 	{ margin-top: -13px;}
}
@media all and (max-width: 1200px) and (min-width: 755px){
	.bottom-links { margin-top: -25px !important;}
}
@media only screen and (max-width: 754px){
footer { background: #fff !important; width: 100% !important; height: auto; padding: 0 0 30px; border-bottom: 10px solid #ddd; margin-bottom: 35px;}