* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

body[language="eng"],
.liturgy-english {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

body[language="ml"],
.liturgy-malayalam {
  font-family: "Anek Malayalam", sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  /* font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400; */
}

#loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: #fff;
  z-index: 9999;
}

.imp-color {
  color: #dc3545 !important;
}

.bg-transparent {
  background: transparent !important;
}

.bg-color-transparent {
  background-color: transparent;
}

ul {
  list-style: none;
  margin: 0;
}

.hero-banner {
  /* background-image: url(https://s3.envato.com/files/324077565/Preview-Image/03_Home_V2-1.jpg); */
  background-image: url(https://www.syromalabarchurch.in/assets/images/background/bg-rectangle.png);
  width: 100%;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

#syro-header-bar.logo-container .dropdown-menu {
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#syro-header-bar .dropdown-item:hover {
  color: #dc3545;
}

#syro-header-bar .dropdown-item:active{
background-color: #dc3545;
color: #fff;
}

#syro-header-bar .nav-item .nav-link{
color: #0b2848;
font-weight: 600;
transition: .3s;
}

#syro-header-bar .nav-item .nav-link:hover{
color: #dc3545;
transition: .3s;
}

.logo-container {
  width: 100%;
  z-index: 2;
  padding: 0.5rem 0;
}

.logo-box-text h1 {
  font-size: 1.5rem;
  /* font-size: 2.5rem; */
  /* font-size: 3rem; */
  font-weight: 700;
  position: relative;
  color: #0b2848;
  /* margin-left: 2rem; */
  margin-bottom: 0;
}

.main-slider {
  /* min-height: 100vh; */
  width: 100% !important;
  max-width: 100% !important;
}

.main-slider .swiper-wrapper,
.main-slider .swiper-slide {
  width: 100% !important;
  max-width: 100% !important;
}

.main-slider .swiper-slide img.w-100 {
  width: 100% !important;
  min-width: 100% !important;
  object-fit: cover !important;
  object-position: center !important;
  display: block !important;
}

.menu-icon {
  height: 40px;
}

.swiper-button-prev.main-slider-prev {
  top: 25%;
  left: 20%;
}

.swiper-button-next.main-slider-next {
  top: 25%;
  left: 25%;
}

.swiper-pagination-vertical.swiper-pagination-bullets {
  bottom: unset;
  left: unset;
  width: auto;
}

.swiper-pagination-vertical.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 10px 0;
}

.hero-image-composition .image-wrap {
  min-height: 580px;
  margin: 0 auto;
  width: 100%;
}

.hero-image-composition .image-wrap .inner-image {
  position: absolute;
  bottom: 0;
  right: 10%;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  z-index: 2;
}

.hero-body {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.hero-image-composition .image-wrap .perspective {
  /* position: absolute;
  top: 20%;
  right: 10%;
  width: 100%;
  max-width: 510px;
  min-height: 510px;
  border-radius: 50%;
  box-shadow: var(--primary-box-shadow);
  transform-origin: center center;
  z-index: 1;
  background-image: radial-gradient(#ce2827, #6a95ce, #739bd0);
  filter: blur(80px); */
}

.hero-image-composition .image-wrap::after {
  /* content: '';
    width: 100%;
    background-image: radial-gradient(#ce2827, #6a95ce, #739bd0);
  filter: blur(80px); */
}

.min-h-100vh {
  /* min-height: 100vh; */
}

@media screen and (min-width: 1400px) {
  .hero-image-composition .image-wrap .inner-image {
    /* max-width: 500px; */
  }

  .hero-image-composition .image-wrap::after {
    content: "";
    width: 85%;
    filter: blur(200px);
    display: block;
    height: 600px;
    border-radius: 50%;
    position: relative;
    left: -125px;
    top: 90px;
    background-image: radial-gradient(#dc3545, #011e9436);
    opacity: 0.7;
    animation: fadeIn;
    animation-duration: 5s;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-image-composition .image-wrap .inner-image {
    max-width: 390px;
  }

  .hero-image-composition .image-wrap::after {
    content: "";
    width: 80%;
    filter: blur(100px);
    display: block;
    height: 450px;
    border-radius: 50%;
    position: relative;
    left: -40px;
    top: 125px;
    background-image: radial-gradient(#db3370, #011e9436);
    opacity: 1;
  }

  .hero-banner .logo-box-img img {
    width: 60px;
  }

  .logo-box-text h1 {
    font-size: 1.5rem;
  }
}

h3.hero-main {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  /* font-size: 4rem; */
  font-size: 6.5rem;
  margin-left: 2rem;
  color: #011e94;
}

body[language="ml"] h3.hero-main {
  font-family: "Anek Malayalam", sans-serif;
  font-size: 4.5rem;
}

body[language="ml"] .news-body h3 a {
  padding: 1px 0;
}

body[language="ml"] .ml-d-none {
  display: none;
}

body[language="eng"] .eng-d-none {
  display: none;
}

.hero-text h4 {
  font-weight: 400;
  font-size: 1.2rem;
  /* font-size: 6rem; */
  margin-left: 2rem;
  color: #0b2848ba;
}

.hero-banner .logo-box-img::after {
  /* content: '';
width: 80px;
height: 200px;
display: inline-block;
position: absolute;
background: red; */
}

.hero-banner .mouse-btn-down {
  position: absolute;
  left: 50%;
  bottom: 105px;
  transform: translateX(-50%);
  z-index: 1;
}

.hero-banner .mouse-btn-down .icon-box {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 45px;
  /* width: 30px;
  height: 50px; */
  background: #011e9442;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  padding: 12px 0px;
  color: #011e94;
}

.hero-banner .mouse-btn-down .icon-box::before {
  /* position: absolute;
  content: "";
  border: 1px solid #011e94cf;
  width: 90px;
  height: 90px;
  left: -30px;
  top: -20px;
  border-radius: 50%; */
}

.hero-banner .mouse-btn-down .icon-box::after {
  /* position: absolute;
  content: "";
  border: 1px solid #011e94cf;
  width: 110px;
  height: 110px;
  left: -40px;
  top: -30px;
  border-radius: 50%; */
}

.right-top-menu ul li .fa-magnifying-glass {
  color: #122849;
  opacity: 1;
  transition: 0.5s;
}

.right-top-menu .fa-magnifying-glass:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.right-top-menu .fas.fa-bars {
  font-size: 2rem;
  color: #122849;
  opacity: 1;
  transition: 0.5s;
}

.right-top-menu .fas.fa-bars:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.modal-backdrop.fade.show {
  display: none;
}

#search-item {
  background: rgba(101, 108, 133, 0.8);
}

#search-item .modal-body {
  background: #f5f6f7;
  padding-bottom: 0;
}

#search-item .modal-footer {
  box-shadow: 0 -1px 0 0 #e0e3e8, 0 -3px 6px 0 rgba(69, 98, 155, 0.12);
  padding: 5px;
}

.search-group #search-wrapping {
  background: #fff;
  border-left: 2px solid #011e94;
  border-top: 2px solid #011e94;
  border-bottom: 2px solid #011e94;
  border-right: unset;
}

.search-group #search-wrapping i {
  color: #011e94;
}

.search-group #search-input {
  background: #fff;
  border-right: 2px solid #011e94;
  border-top: 2px solid #011e94;
  border-bottom: 2px solid #011e94;
  border-left: unset;
  padding-left: 0;
}

.search-group #search-input:focus {
  box-shadow: unset;
}

.search-startscreen {
  font-size: 0.9em;
  margin: 0 auto;
  padding: 35px 0;
  text-align: center;
  width: 80%;
}

.search-dropdown {
  min-height: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.search-help {
  font-size: 0.9em;
  margin: 0;
  user-select: none;
  color: #6c757d;
}

.search-commands {
  padding-left: 1px;
  font-size: 0.875rem;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: none;
  box-shadow: none;
  align-items: center;
  border-radius: 2px;
  display: flex;
  height: 18px;
  justify-content: center;
  margin-right: 0.5rem;
  padding: 0 0 1px;
  width: 20px;
}

.search-command-label,
.search-logo-label {
  font-size: 12px;
  color: #6c757d;
}

.search-filter {
  margin-bottom: 0.5rem;
}

.search-filter ul li input {
  position: absolute;
  top: 5px;
  left: 0;
  opacity: 0.01;
  cursor: pointer;
  width: 100%;
  height: auto;
}

.search-filter ul li label {
  display: block;
  cursor: pointer;
}

.search-filter ul li label span {
  transition: all 0.5s ease-in-out;
  pointer-events: none;
  font-size: 14px;
  color: #6c757d;
}

.search-filter ul li:hover label span {
  color: #dc3545;
}

.filter-heading {
  font-size: 12px;
  color: #276cb4;
}

.hero-body .hero-text::after {
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  top: 15%;
  width: 550px;
  background-image: url(../images/resources/cross_white.svg);
  height: 550px;
  background-size: contain;
  background-position: center;
  opacity: 0.05;
  background-repeat: no-repeat;
}

#detailedmenu {
  width: 100% !important;
}

.offcanvas-menu-title {
  color: #dc3545;
}

.menu-overlay a {
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  transition: 0.5s;
}
/* added code */
.menu-overlay a::first-letter {
  color: #dc3545; /* Change this to your desired color */
  font-weight: bold;
}
/* added code */
.diocese-list li {
  margin-bottom: 0.5rem;
}

.diocese-list a {
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  transition: 0.5s;
}

.menu-overlay a:hover {
  color: #dc3545;
  transition: 0.5s;
}

.diocese-list a:hover {
  color: #dc3545;
  transition: 0.5s;
}

/* ============ only desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .dropdown-menu-end {
    right: 0;
    left: auto;
  }

  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 0;
  }

  /* .navbar .nav-item:hover .nav-link{ color: #fff;  } */
  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }

  .navbar .dropdown-menu.fade-up {
    top: 180%;
  }

  .navbar .nav-item:hover .dropdown-menu {
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
  }
}

/* ============ desktop view .end// ============ */

.swiper.main-slider .swiper-slide-visible h3.hero-main {
  animation: bounceInLeft;
  /* animation: flipInX; */
  animation-duration: 2s;
}

.swiper.main-slider .swiper-slide-visible .hero-text h4 {
  /* animation: bounceInLeft; */
  animation: flipInX;
  animation-duration: 4s;
}

.swiper.main-slider .swiper-slide-visible .inner-image {
  animation: fadeIn;
  animation-duration: 3s;
  max-height: 90vh;
}

.offcanvas {
  transition: 1s;
}

.disable-select {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

.logo-container .right-top-menu li {
  float: left;
  margin-right: 30px;
}

.logo-container .right-top-menu li:nth-last-child(1) {
  margin-right: 0;
}

.no-focusborder:focus {
  outline: 0 !important;
  box-shadow: unset !important;
}

.established span {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ff7921;
}

.established span h5 {
  font-size: 16px;
  margin-bottom: 0;
}

#syro-header-bar.sticky {
  position: fixed !important;
  background: #fff !important;
  top: 0;
  z-index: 999;
  box-shadow: #0b28487d 0px 10px 25px -10px;
}

#syro-header-bar.sticky.logo-container {
  padding: 0.5rem 0;
}

.logo-container#syro-header-bar.sticky .logo-box-img img {
  width: 55px;
}

.logo-container#syro-header-bar.sticky .logo-box-text h1 {
  font-size: 1.2rem;
}

.right-top-menu {
  padding-right: 2rem;
}

.right-top-menu ul {
  display: flex;
  align-items: center;
}

.logo-img-div {
  padding-left: 2rem;
}

/* Navbar logo image */
#syro-header-bar.logo-container .logo-box-img img {
  width: 160px;
  height: auto;
}

@media screen and (max-width: 576px) {
  #syro-header-bar.logo-container .logo-box .logo-box-img .logo-img-div {
    padding: 1rem 0 1rem 0.5rem !important;
  }

  .hero-banner
    #syro-header-bar.sticky.logo-container
    .logo-box
    .logo-box-img
    .logo-img-div {
    padding: 0.5rem 0 0.5rem 1rem !important;
  }

  #syro-header-bar.logo-container .logo-box .logo-box-img img {
    width: 42px;
  }

  #syro-header-bar.logo-container .logo-box .logo-box-text .ms-4 {
    margin-left: 0.5rem !important;
  }

  #syro-header-bar.logo-container .logo-box {
    padding-right: 0rem !important;
  }

  .logo-box-text h1 {
    font-size: 0.9rem;
  }

  .logo-container {
    padding: 0 !important;
  }

  .menu-clearfix {
    height: 5px !important;
  }

  .logo-container#syro-header-bar.sticky .logo-box-img img {
    width: 36px !important;
  }

  .logo-container#syro-header-bar.sticky .logo-box-text h1 {
    font-size: 0.8rem;
  }

  #syro-header-bar.logo-container .main-menu .right-top-menu {
    padding-right: 0.5rem !important;
  }

  #syro-header-bar.logo-container.sticky .main-menu .right-top-menu {
    padding-right: 1rem !important;
  }

  #syro-header-bar.logo-container .main-menu .right-top-menu ul {
    padding-left: 0rem !important;
  }

  #syro-header-bar.logo-container .main-menu .right-top-menu ul li {
    margin-right: 1rem !important;
  }

  #syro-header-bar.logo-container .main-menu .right-top-menu ul li:last-child {
    margin-right: 0 !important;
  }

  #syro-header-bar.logo-container .main-menu .right-top-menu ul li select {
    /* display: none !important; */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 30px;
  }

  .hero-banner .hero-body .main-slider {
    margin-top: 70px;
  }

  .hero-banner .hero-body .main-slider .min-h-100vh,
  .hero-banner .hero-body .main-slider {
    min-height: auto;
  }

  .hero-banner .hero-body .main-slider .hero-text {
    margin-top: 20px;
  }

  .hero-banner .hero-body .main-slider h3.hero-main {
    font-size: 2.5rem !important;
  }

  .hero-banner .hero-body .main-slider .hero-text h4 {
    font-size: 0.8rem !important;
  }

  .hero-banner .hero-body .hero-text::after {
    width: 100%;
    height: 170px;
    top: 0;
  }

  .hero-image-composition .image-wrap .inner-image {
    max-width: 300px;
    position: unset;
  }

  .hero-image-composition .image-wrap {
    min-height: unset;
  }

  .right-top-menu .fas.fa-bars {
    font-size: 1.5rem;
  }

  .hero-banner .mouse-btn-down {
    display: none;
  }

  .event-details {
    display: unset !important;
    padding-left: unset !important;
  }

  .event-title {
    margin-left: unset !important;
    font-size: 15px !important;
  }

  .event-card {
    padding: 30px 0 !important;
  }

  .event-details .date {
    font-size: 13px !important;
    width: 50%;
    padding: 5px 10px !important;
  }

  .time-counter .counter-time {
    font-size: 35px !important;
    width: 60px !important;
    height: 60px !important;
    line-height: 60px !important;
  }

  .time-counter {
    text-align: center;
  }

  .time-counter div {
    margin: 10px 5px !important;
  }

  .time-counter .counter-title {
    font-size: 14px !important;
    margin-top: 5px !important;
  }

  .section-title {
    margin-left: unset !important;
    position: relative !important;
  }

  .section-title h6 {
    font-size: 15px !important;
    letter-spacing: 1px !important;
    transform: unset !important;
    writing-mode: unset !important;
    margin-left: 10px !important;
  }

  .section-title::after {
    width: 4px !important;
    margin-left: 0px !important;
  }

  .background-text::after {
    font-size: 5em !important;
    top: 170px !important;
  }

  .about-us {
    padding: 60px 0 !important;
  }

  .about-data {
    padding-left: unset !important;
    margin-bottom: 30px;
  }

  .about-data .main-title {
    padding-left: 0px;
    /* padding-left: 50px; */
  }

  .main-title h1 {
    font-size: calc(1.5rem + 1vw) !important;
    /* font-size: 2.7rem !important; */
  }

  .main-title h2 {
    font-size: calc(1.5rem + 1vw) !important;
    /* font-size: 2.7rem !important; */
  }

  .about-content p {
    margin: 30px 0 30px 0 !important;
    font-size: 16px !important;
    line-height: 30px !important;
  }

  .about-images img {
    width: 100% !important;
  }

  .about-images::after {
    width: 100% !important;
    right: 0 !important;
    top: -65% !important;
    height: 80vh !important;
  }

  .latest-news {
    padding: 0px !important;
    /* padding: 0px 0 80px 0 !important; */
  }

  .news-container {
    padding-left: unset !important;
  }

  ul.latest-news-slider li {
    /* padding-right: 10px !important;
    padding-left: 10px !important; */
  }

  .cardinal {
    overflow: hidden;
  }

  .cardinal-container {
    padding-left: unset !important;
  }

  .liturgy-container {
    padding-left: unset !important;
  }

  .cardinal-container .main-title {
    padding-left: 0px !important;
    /* padding-left: 50px !important; */
  }

  .cardinal-details {
    margin: 40px 0 0 0 !important;
  }

  .cardinal-img-container img {
    width: 100% !important;
  }

  .cardinal-img-container {
    margin-left: 15px !important;
  }

  .cardinal-data h2 {
    font-size: 22px !important;
  }

  .cardinal-data-container .cardinal-data {
    padding: 30px !important;
  }

  .cardinal-data p {
    font-size: 16px !important;
    line-height: 30px !important;
    font-weight: 400 !important;
  }

  .cardinal-data-container {
    top: -5%;
  }

  .primary-button.cardinal-profile {
    left: 40% !important;
  }

  body[language="ml"] .primary-button.cardinal-profile {
    left: 25% !important;
  }

  .news-container::after {
    top: 0px !important;
  }

  .news-slider-container {
    margin: 40px 0 !important;
  }

  .news-body h3 a {
    font-size: 20px !important;
    padding: 0 !important;
  }

  .news-footer a {
    font-size: 16px !important;
    margin: 10px 0 !important;
  }

  .liturgy-button.nav-link {
    font-size: 16px !important;
    padding: 5px 10px !important;
  }

  .liturgy-data {
    padding: 25px !important;
  }

  .liturgy-image img {
    position: unset !important;
    width: 100% !important;
  }

  .liturgy-date {
    left: 0 !important;
  }

  .liturgy-data .col-12 {
    justify-content: unset !important;
    display: unset !important;
  }

  .liturgy-data ul.nav-pills {
    display: flex !important;
    justify-content: space-between !important;
    margin: 25px 0 !important;
  }

  .liturgy-readings {
    margin-left: 0 !important;
  }

  .liturgy-details .tab-content p {
    font-size: 16px !important;
    margin-bottom: 5px !important;
  }

  .liturgy-details .tab-content h2 {
    font-size: 24px !important;
    margin-bottom: 0;
  }

  .liturgy-readings li {
    font-size: 16px !important;
    line-height: 2rem !important;
  }

  .icon-box-container .icon-box {
    justify-content: start !important;
    margin-bottom: 20px !important;
  }

  .quicklink {
    padding: 20px 0 !important;
  }

  .liturgy {
    padding: 40px 0 0px 0 !important;
  }

  .liturgy-container .main-title h2 {
    text-align: left !important;
  }

  .icon-box .icon span i {
    font-size: 20px !important;
    left: 20px !important;
    top: 10px !important;
  }

  .icon-box .icon span {
    height: 55px !important;
    width: 55px !important;
  }

  .icon-box .icon span::after {
    width: 25px !important;
    height: 25px !important;
    top: -23px !important;
    left: 15px !important;
  }

  .icon-box .icon-title h6 {
    font-size: 22px !important;
  }

  .location-container {
    padding-left: unset !important;
  }

  .location-map {
    padding: unset !important;
    margin: 40px 0 !important;
  }

  .location-title {
    position: relative !important;
    padding: 20px 20px 0px !important;
  }

  .location-title h6 {
    font-size: 22px !important;
    margin-bottom: 8px !important;
  }

  .location-title p {
    font-size: 14px !important;
  }

  .location-title::after {
    top: -15% !important;
    left: 3% !important;
    height: 21vh !important;
  }

  .img-map-container {
    margin: 50px 0px 0px !important;
    /* margin: 50px 10px 0px !important; */
  }

  .location-name {
    position: relative !important;
    padding: 0px 20px 10px !important;
    bottom: 15px !important;
  }

  .location-name p {
    font-size: 16px !important;
  }

  .daily-saints-container {
    padding-left: unset !important;
  }

  .our-saints-slider-container {
    position: unset !important;
    margin: 50px 0 0 0 !important;
    width: 100% !important;
  }

  .our-saints-container .section-title {
    top: 30px !important;
  }

  .our-saints-slider-container .tns-item.tns-slide-active .our-saints-card {
    margin-right: 25px !important;
  }

  .footer-section-1 span.contact-title {
    font-size: 1.5rem !important;
    top: 3% !important;
    left: 0 !important;
  }

  .footer-section-1 {
    padding-bottom: 10%;
  }

  .footer-container .contact-us {
    margin: auto 0 !important;
  }

  .footer-container .contact-us .primary-button {
    margin-left: 5%;
  }

  .footer-section-1 div.m-auto::after {
    width: 50% !important;
    left: 0 !important;
    height: 70% !important;
  }

  .sleeva {
    bottom: -3px !important;
    width: 40% !important;
    right: 5% !important;
  }

  .subscribe-email-container {
    margin: 5% 5% !important;
  }

  .mt-20p {
    margin-top: 5% !important;
  }

  .footer-section-2.ps-5 {
    padding: 0px 25px !important;
  }

  .footer-widget {
    padding: 30px 0 0px !important;
  }

  .footer-section-2.pe-5 {
    padding: 0px 25px !important;
  }

  .gallery-wrapper {
    margin-bottom: 25px !important;
    grid-template-columns: [col1-start] 85px [col2-start] 85px [col3-start]85px [col4-start] 85px [col4-end] !important;
  }

  .footer-bottom p a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    transition: 0.5s;
  }

  .footer-bottom p {
    font-size: 16px;
    font-weight: 300;
  }

  .footer-bottom p a:hover {
    color: #ff7903;
    transition: 0.5s;
  }

  .mb-sm-30 {
    margin-bottom: 20px;
  }

  .quick-link-card.odd {
    justify-content: start !important;
  }

  .quick-link-card.even {
    justify-content: start !important;
  }

  .be-1 {
    border: unset !important;
  }

  /* .quick-icon i {
    font-size: 25px !important;
  } */

  .quick-title h6 {
    font-size: 18px !important;
    line-height: 20px !important;
  }

  .footer-container .social-media {
    margin: 30px 0 8px;
  }

  .footer-container {
    overflow-x: hidden;
  }

  .offcanvas.offcanvas-bottom.offcanvas-diocese {
    height: 70vh !important;
  }
  .about-us {
    padding: 40px 0 !important;
  }

  .cardinal-new {
    padding: 5px 0 15% !important;
  }

  .cardinal-images {
    margin-top: 40px !important;
  }

  img.cardinal-black-white {
    width: 100% !important;
  }

  img.cardinal-color {
    bottom: -8% !important;
    right: 2% !important;
    width: 160px !important;
  }

  .cardinal-color-div::before {
    width: 160px !important;
    height: 45% !important;
    left: 50% !important;
    bottom: -20% !important;
  }

  .liturgy-data::after {
    top: -30% !important;
    -webkit-transform: scaleX(-1) !important;
    transform: scaleX(-1) !important;
    right: 0 !important;
  }
}

.latest-event {
  background: #eaebef;
}

.event-slider .swiper-slide {
  background: #eaebef;
}

span.event-icon {
  background: #011e94;
  height: 80px;
  width: 80px;
  /* text-align: center;
  line-height: 80px; */
  border-radius: 50%;
}

span.event-icon::after {
  content: "";
  width: 35px;
  height: 35px;
  background: linear-gradient(70deg, #dc3545, #011e94);
  display: block;
  border-radius: 6px;
  rotate: 70deg;
  position: relative;
  top: -20px;
  left: 20px;
  z-index: 0;
}

span.event-icon i {
  color: #fff;
  font-size: 37px;
  position: relative;
  left: 30px;
  top: 21px;
  line-height: 37px;
  z-index: 1;
}

.event-title {
  background: linear-gradient(90deg, #011e94, #011e94, #eaebef00);
  color: #fff;
  width: 100%;
  font-size: 18px;
}

.event-details {
  display: flex;
}

.event-details .date {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  background: #dc3545;
  padding: 10px 20px;
  border-left: 7px solid #990b3f;
}

.time-counter div {
  display: inline-block;
  /* min-width: 90px; */
  /* border: 2px solid #030d52; */
  margin: 0 20px;
  text-align: center;
}

.time-counter .counter-time {
  background: #16253c;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  width: 80px;
  height: 80px;
  display: block;
  line-height: 80px;
}

.time-counter .counter-title {
  display: block;
  color: #7b869a;
  font-size: 15px;
  margin-top: 10px;
}

.primary-button {
  text-decoration: none;
  color: #fff;
  background: #dc3545;
  padding: 10px 20px;
  border-right: 7px solid #be1929;
  font-weight: 300;
  display: block;
  transition: 1s;
  width: fit-content;
}

.primary-button:hover {
  color: #fff;
  background: #be1929;
  border-right: 6px solid #dc3545;
  transition: 1s;
}

.section-title h6 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  letter-spacing: 5px;
  font-size: 24px;
  /* font-size: 32px; */
  font-weight: 300;
}

.section-title {
  position: absolute;
  color: #798daf;
  margin-left: -50px;
}

.section-title::after {
  content: "";
  width: 7px;
  height: 120%;
  background-color: #dc3545;
  display: block;
  position: absolute;
  top: 0;
  margin-left: 40px;
  /* margin-left: 61px; */
}

.about-us {
  padding: 60px 0 0 0;
  /* padding: 100px 0 60px 0; */
}

.background-text {
  position: relative;
}

.background-text::after {
  content: "About Us";
  position: absolute;
  top: 100%;
  z-index: 1;
  font-size: 250px;
  color: #4c60b1;
  opacity: 0.07;
  text-transform: uppercase;
  font-weight: 900;
  left: -20%;
}

.background-text span {
  /* position: absolute;
  top: 10%;
  z-index: 1;
  font-size: 250px;
  color: #4c60b1;
  opacity: 0.07;
  text-transform: uppercase;
  font-weight: 900; */
}

.main-title h1 {
  font-size: 2.8rem;
  /* font-size: 3.4rem; */
  font-weight: 700;
  color: #0b2848;
}

.main-title h2 {
  /* font-size: 3.4rem; */
  font-size: 2.8rem;
  font-weight: 700;
  color: #0b2848;
}

.about-data {
  padding-left: 80px;
  /* padding-left: 110px; */
  z-index: 2;
  position: relative;
}

.about-content p {
  font-size: 20px;
  line-height: 35px;
  margin: 20px 0 30px 0;
}

.line-9 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
}

.line-1 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.line-2 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.about-img-1 {
  display: flex;
  align-items: center;
}

.img-border {
  border: 10px solid #ffffff;
}

.about-images {
  position: relative;
  /* z-index: 1; */
}

.about-images::after {
  content: "";
  background-image: url(https://www.syromalabarchurch.in/assets/images/background/bg-rectangle.png);
  width: 65vw;
  display: block;
  height: 100%;
  position: absolute;
  right: -10%;
  top: -5%;
  z-index: 0;
}

.img-1-container {
  position: relative;
  z-index: 1;
}

.img-1-container::before {
  content: "";
  background: linear-gradient(#dc3545, #dc354588, #eaebef59);
  width: 100%;
  display: block;
  height: 110%;
  position: absolute;
  z-index: -1;
  left: -40px;
  top: 90px;
}

.about-images img {
  object-fit: cover;
}

.about-images .img-1 {
  box-shadow: #011e946b 15px 20px 35px -10px, #dc354540 0px 5px 50px 5px;
  /* animation: fadeInLeft; */
}

.about-images .img-2 {
  box-shadow: #011e9447 10px 10px 50px 5px;
  z-index: 1;
  position: relative;
}

.about-images .img-3 {
  box-shadow: #011e942e 5px 5px 30px 2px, #011e943d 5px 5px 20px 2px;
  z-index: 2;
  position: relative;
}

.news-slider-container {
  margin: 40px 0;
  z-index: 2;
  position: relative;
}

.news-container {
  padding-left: 80px;
  /* padding-left: 110px; */
  z-index: 2;
  position: relative;
}

.news-container::after {
  /* content: url(../images/background/angel.webp); */
  position: absolute;
  z-index: 1;
  top: -10%;
  opacity: 0.08;
  right: 5%;
  height: auto;
  width: auto;
  filter: blur(1px);
}

.latest-news {
  /* background-image: url(../images/background/bg-rectangle.png); */
  padding: 60px 0 10px;
  position: relative;
  /* padding: 90px 0; */
}

.news-header {
  position: relative;
}

.news-img {
  height: 200px;
  overflow: hidden;
}

.news-img img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  transition: 1s;
}

.news-category {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  background: #011e94;
  padding: 20px 5px;
  font-weight: 300;
  display: block;
  width: fit-content;
  text-decoration: none;
  color: #fff;
  border-top: 7px solid #dc3545;
  transition: 1s;
  position: absolute;
  bottom: 20%;
  left: -15px;
  font-size: 16px;
  letter-spacing: 2px;
}

.news-category:hover {
  text-decoration: none;
  color: #fff;
  background: #0b2848;
  border-top: 7px solid #ff7903;
  transition: 1s;
}

.news-more {
  position: relative;
  bottom: 25px;
  left: 40%;
}

ul.latest-news-slider li {
  /* padding-right: 40px !important; */
}

.news-body h3 a {
  font-size: 24px;
  color: #0b2848;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: 1s;
  /* padding: 5px 0; */
}

.news-footer a {
  font-size: 18px;
  color: #0b2848;
  font-weight: 300;
  text-decoration: none;
  margin: 20px 0;
  display: block;
  transition: 1s;
  width: fit-content;
}

.news-footer a i {
  color: #dc3545;
  transition: 1s;
}

.news-footer a:hover {
  color: #dc3545;
  transition: 1s;
}

.news-footer a:hover i {
  color: #0b2848;
  transition: 1s;
}

.news-item-card:hover .news-img img {
  transform: scale(1.2);
  transition: 1s;
}

.news-item-card:hover .news-body h3 a {
  color: #000;
  transition: 1s;
}

.news-container button[data-action="stop"] {
  display: none;
}

.cardinal {
  padding: 60px 0 0px 0;
}

.cardinal-container {
  padding-left: 80px;
  position: relative;
}

.our-saints-container {
  position: relative;
}

.our-saints-container .main-title h2 {
  font-size: 2rem;
}

.liturgy-container {
  padding-left: 80px;
  position: relative;
}

.cardinal-details {
  margin: 40px 0;
}

.cardinal-img-container {
  position: relative;
  margin-left: 50px;
}

.cardinal-img-container img {
  width: 125%;
}

.cardinal-img-container::before {
  content: "";
  background: linear-gradient(#db3370, #db337188, #eaebef59);
  width: 100%;
  display: block;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: -50px;
  top: 90px;
}

.cardinal-data-container {
  position: relative;
  width: 100%;
}

.cardinal-data-container .cardinal-data {
  background: #fff;
  width: 100%;
  /* height: 35vh; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 12px;
  padding: 40px;
}

.cardinal-data h2 {
  color: #db3370;
  margin-bottom: 15px;
  font-weight: 700;
}

.cardinal-data p {
  color: #0b2848;
  font-size: 20px;
  line-height: 35px;
  font-weight: 300;
}

body[language="ml"] .cardinal-data p {
  line-height: 30px;
}

.primary-button.cardinal-profile {
  bottom: 25px;
  right: -65%;
  position: relative;
}

.cardinal-bg-text {
  background: url(https://www.syromalabarchurch.in/assets/images/background/bg-rectangle.png),
    linear-gradient(to bottom, #fff, #0b2848, #db3370);
  /* background-attachment: fixed; */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  font-size: 10vw;
  font-weight: bold;
  text-align: left;
  position: absolute;
  top: 0;
  z-index: -2;
  width: 100%;
  overflow: hidden;
}

.cardinal-details::after {
  content: "";
  background-image: url(https://www.syromalabarchurch.in/assets/images/background/bg-rectangle.png);
  width: 80vw;
  display: block;
  height: 130%;
  position: absolute;
  left: -25%;
  top: 5%;
  z-index: -2;
}

.cardinal-data-container::after {
  content: "";
  display: block;
  height: 60vh;
  width: 100%;
  position: absolute;
  top: -20%;
  z-index: -1;
  left: -50px;
  background-image: linear-gradient(#db33709e, #04239687);
  filter: blur(100px);
  opacity: 0.3;
}

.liturgy-details {
  background: #0b2848;
  margin: 60px 0;
  position: relative;
}

.liturgy-data {
  padding: 40px 40px 45px 0;
}

.liturgy-nav-item:first-child {
  margin-right: 1rem;
}

.liturgy-button.nav-link.active {
  background: #315984 !important;
  border-radius: 0;
  font-weight: 500;
  transition: 1s;
}

.liturgy-button.nav-link {
  background: transparent !important;
  color: #fff !important;
  border-radius: 0;
  border: 2px solid #315984;
  font-weight: 500;
  font-size: 14px;
  transition: 1s;
  padding: 0px 10px;
}

.liturgy-button.nav-link:hover {
  background: #315984 !important;
  transition: 1s;
}

.liturgy-details .tab-content h2 {
  color: #fff;
  font-size: 2.2rem;
}

.liturgy-details .tab-content p {
  color: #95b6d9;
  font-size: 20px;
  margin-bottom: 0rem;
}

.liturgy-data .fa-li {
  color: #ff7903;
}

.liturgy-data li {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 2.5rem;
}

.liturgy-data .fa-ul {
  margin-top: 15px;
}

.liturgy-data .fa-ul li span {
  font-weight: 600;
  color: #ff7903;
}

.liturgy-date {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background: #dc3545;
  padding: 10px 20px;
  border-left: 7px solid #be1929;
  width: fit-content;
  position: absolute;
  top: -25px;
  left: 10%;
}

.liturgy-readings {
  margin-left: 50px;
}

.liturgy-image img {
  z-index: 1;
  position: absolute;
  left: -30px;
  width: 100%;
  /* border-image: linear-gradient(#db33709e, #04239687); */
  background: linear-gradient(-45deg, #dc3545, #ff7903) border-box;
  border: 15px solid transparent;
  /* bottom: -20px; */
}

.liturgy-container .main-title h2 {
  text-align: right;
}

.news-slider-container #pills-tab-news{
  justify-content: end;
  margin-bottom: 20px;
}

.news-nav-item .news-button {
  padding: 0px 10px;
  font-weight: 500;
  color: #011e94;
}

.news-nav-item .news-button.active {
  background: transparent;
  color: #dc3545;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box .icon span {
  background: linear-gradient(#011e94, #011e94d4, #011e94b3, #011e9433)
    border-box;
  height: 65px;
  width: 65px;
  transition: 1s;
}

.icon-box .icon span::after {
  width: 20px;
  height: 20px;
  top: -20px;
  left: 15px;
  box-shadow: #0b28487d 4px 4px 5px 0px;
  opacity: 0.7;
}

.icon-box .icon span i {
  font-size: 26px;
  left: 22px;
  top: 13px;
  text-shadow: 2px 2px 5px #0b284899;
}

.icon-box .icon-title h6 {
  font-size: 1.6rem;
  text-decoration: none;
  color: #0b2848;
  font-weight: 600;
  margin-left: 15px;
  transition: 0.5s;
  margin-bottom: 0;
}

.quicklink {
  padding: 30px 0;
  background: #dc354533;
}

.icon-box:hover .icon span {
  background: linear-gradient(#011e94, #011e94d4, #011e94b3, #011e9433)
    border-box;
  transition: 1s;
}

.icon-box:hover .icon-title h6 {
  color: #ff7903;
  transition: 0.5s;
}

.unset-link {
  text-decoration: none;
}

section.liturgy {
  padding: 60px 0 20px;
  z-index: 1;
  position: relative;
}

.liturgy-data {
  position: relative;
}

.liturgy-data::after {
  /* content: url("../images/background/liturgy-angel1.webp"); */
  top: -80%;
  z-index: -1;
  position: absolute;
  opacity: 0.25;
  filter: blur(1px);
}

.syromalabar-locations::after {
  top: -65%;
  opacity: 0.09;
  background-size: cover;
  left: 0;
}

.latest-news .section-title {
  z-index: 2;
}

.latest-news::after {
  content: "";
  width: 100%;
  height: 100vw;
  position: absolute;
  top: -100%;
  transform: skewY(-10deg);
  z-index: 0;
  background: linear-gradient(
    -180deg,
    #f0f6ff,
    #edf4ff,
    #ff790314,
    #d5e9ff12,
    #011e940f,
    #fffafaa6
  );
  opacity: 1;
  filter: blur(50px);
}

.cardinal-new-container {
  position: relative;
  z-index: 1;
}

.syromalabar-locations {
  position: relative;
}

.syromalabar-locations::after {
  content: "";
  width: 100vw;
  display: block;
  height: 100vh;
  position: absolute;
  top: -60%;
  opacity: 0.08;
  background-image: url(../images/background/map_with_points.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.location-container {
  padding-left: 80px;
  z-index: 2;
  position: relative;
}

.location-map {
  background: #011e94;
  padding: 40px 50px 15px;
  margin: 50px 0;
  position: relative;
}

.location-title {
  /* position: relative; */
  z-index: 3;
  position: absolute;
}

.location-title h6 {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 12px;
}

.location-title p {
  color: #f8f8f8;
  font-size: 18px;
  font-weight: 200;
}

.location-title::after {
  content: "";
  background: linear-gradient(180deg, #ff7903, #dc3545, #dc354599, #011e9400);
  display: block;
  width: 50%;
  height: 25vh;
  position: absolute;
  z-index: -1;
  top: -45%;
  left: -6%;
  opacity: 0.98;
}

.img-map-container {
  position: relative;
  z-index: 2;
  margin-left: 15%;
  margin-top: 60px;
}

.img-map-container .india {
  z-index: 1;
  right: 30.7%;
  top: 24%;
  cursor: pointer;
  min-height: 21%;
  min-width: 5.5%;
}

.img-map-container .india span {
  padding: 80% 5%;
  display: block;
}

.img-map-container .australia {
  z-index: 1;
  right: 17.6%;
  top: 60%;
  cursor: pointer;
  min-height: 21%;
  min-width: 5.5%;
}

.img-map-container .australia span {
  padding: 80% 5%;
  display: block;
}

.img-map-container .england {
  z-index: 1;
  left: 42.5%;
  top: 2%;
  cursor: pointer;
  min-height: 21%;
  min-width: 5.5%;
}

.img-map-container .england span {
  padding: 80% 5%;
  display: block;
}

.img-map-container .canada {
  z-index: 1;
  left: 24%;
  top: 14%;
  cursor: pointer;
  min-height: 21%;
  min-width: 5.3%;
}

.img-map-container .canada span {
  padding: 80% 5%;
  display: block;
}

.img-map-container .usa {
  z-index: 1;
  left: 18.3%;
  top: 24%;
  cursor: pointer;
  min-height: 20%;
  min-width: 5.3%;
}

.img-map-container .usa span {
  padding: 80% 5%;
  display: block;
}

.img-map-container::after {
  content: "";
  background: linear-gradient(180deg, #dc3545, #dc354570, #dc354542, #011e94);
  width: 100%;
  height: 100%;
  display: grid;
  position: absolute;
  top: -10%;
  z-index: -1;
  border-radius: 50% 50% 0 0;
  filter: blur(70px);
  opacity: 0.6;
}

.location-tooltip {
  --bs-tooltip-bg: #dc3545;
  font-size: 18px;
  opacity: 1 !important;
}

.location-name {
  position: absolute;
  bottom: 7%;
}

.location-name p {
  color: #95b6d9;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
}

.offcanvas.offcanvas-bottom.offcanvas-diocese {
  height: 50vh;
}

.offcanvas-diocese .offcanvas-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #0b2848;
}

.daily-saints-slider-container {
  margin: 40px 0;
  z-index: 2;
  position: relative;
}

.saints-card {
  height: 350px;
  overflow: hidden;
}

.saints-card .saint-img {
  height: 350px;
  object-fit: cover;
  width: 100%;
}

.saint-overlay {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2),
    rgb(0 0 0 / 56%)
  );
}

.daily-saints-slider-container button[data-action="start"] {
  display: none !important;
}

#customize-controls li {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #dc3545;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#customize-controls li:hover {
  background: #990b3f;
  cursor: pointer;
}

#customize-controls li i {
  font-size: 20px;
  color: #fff;
  font-weight: 800;
}

#customize-controls .prev {
  position: absolute;
  right: 50px;
  top: -40px;
}

#customize-controls .next {
  position: absolute;
  right: 15px;
  top: -40px;
}

.daily-saints-slider-container .tns-inner {
  margin: unset !important;
}

.saints-img-container .img-zoom {
  width: 40px;
  height: 40px;
  background: #dc3545;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  bottom: 0;
  right: 0;
  text-decoration: none;
}

.saints-img-container .img-zoom i {
  color: #fff;
  font-size: 1.5rem;
}

.daily-saints-container {
  padding-left: 80px;
  z-index: 2;
  position: relative;
}

.our-saints-card {
  background: #fff;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: .5s;
}

.our-saints-slider-container {
  margin: 80px 0 0 0;
  position: absolute;
  width: 164%;
  /* width: 190%; */
}

.our-saints-img figure {
  width: 65px;
  height: 65px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 0;
}

.our-saints-img figure img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.our-saints-title h6 {
  font-size: 1.1rem;
  margin-bottom: 5px;
  font-weight: 600;
  color: #0b2848;
}

.our-saints-title p {
  margin-bottom: 0;
  font-size: 0.8rem;
  color: #dc3545;
}

.our-saints-container .section-title h6 {
  transform: unset;
  writing-mode: unset;
  margin-left: 15px;
  font-size: 20px;
  margin-bottom: 0;
  color: #0b2848;
  letter-spacing: 1px;
  font-weight: 500;
}

.our-saints-container .section-title {
  margin-left: 0;
  top: 55px;
}

.our-saints-container .section-title::after {
  margin-left: 0;
  height: 100%;
  width: 5px;
  background-color: #dc3545;
}

.our-saints-slider-container button[data-action="stop"] {
  display: none;
}

.our-saints-slider-container .tns-inner {
  margin-left: -10px !important;
}

.footer-section-1 {
  /* background: linear-gradient(180deg, #dc3545, #dc3545d4, #0b1f91cf, #0e1f90); */
  position: relative;
  background: #be1929cc;
}

.footer-section-11 {
  background: #be1929cc;
  position: relative;
}

.daily-saints {
  margin-bottom: 100px;
}

.footer-section-1 span.contact-title {
  font-size: 2.5rem;
  font-weight: 900;
  color: #fff;
  z-index: 4;
  position: relative;
  background: #0b2848;
  padding: 5px 10px;
  top: -6.5%;
  left: 15%;
}

.footer-section-1 div.m-auto::after {
  content: "";
  background: linear-gradient(#dc3545, #dc3545, #dc354588, #fe780500);
  width: 60%;
  height: 80%;
  display: block;
  top: -10%;
  left: 20%;
  z-index: 1;
  position: absolute;
}

.subscribe-email {
  background: transparent;
  border-bottom: 1px solid #fff !important;
  border: none;
  border-radius: 0;
  color: #fff;
  font-size: 18px;
}

textarea.subscribe-email {
  height: 100px !important;
}

.subscribe-email:focus {
  background-color: transparent !important;
  border-bottom: 1px solid #ffffff !important;
  box-shadow: unset !important;
  color: #fff;
}

.subscribe-email-container {
  z-index: 3;
}

.subscribe-email-container label {
  color: #fff;
  font-weight: 300;
  padding-left: 0 !important;
}

.form-floating > .subscribe-email:focus ~ label {
  color: #ffffff;
  opacity: 0.75;
}

.footer-container .contact-us {
  margin: auto 15%;
}

.footer-container .contact-us .primary-button {
  z-index: 3;
  position: relative;
  background: #0b2848;
  border-right: 7px solid #092092;
}

.footer-container .contact-us .primary-button:hover {
  background: #092092;
  border-right: 7px solid #0b2848;
}

.mt-20p {
  margin-top: 20%;
}

.footer-section-2,
.footer-section-2 .row {
  background: #0b2848;
  /* background: #011e94; */
}

.footer-container {
  position: relative;
  /* overflow-x: hidden; */
}

.footer-container::after {
  content: "";
  background-image: url(../images/background/bg-rectangle.png);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0.03;
}

.footer-widget {
  padding: 50px 0 30px;
  color: #fff;
  position: relative;
  z-index: 3;
}

.footer-widget h4 {
  font-weight: 500;
}

.footer-widget a {
  color: #e0e0e0;
  font-size: 18px;
  font-weight: 300;
  transition: 0.5s;
  text-decoration: none;
}

.footer-widget a:hover {
  color: #dc3545;
  transition: 0.5s;
}

.footer-event-date {
  font-size: 13px;
  color: #95b6d9;
}

.gallery-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: [col1-start] 65px [col2-start] 65px [col3-start]65px [col4-start] 65px [col4-end];
  grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
}

.gallery-wrapper .box-1 {
  grid-column: col3-start / col4-end;
  grid-row: row1-start;
}

.gallery-wrapper .box-2 {
  grid-column: col1-start / col3-start;
  grid-row: row1-start / row2-end;
}

.gallery-wrapper .box-3 {
  grid-column: col3-start;
  grid-row: row2-start;
}

.gallery-wrapper .box-4 {
  grid-column: col4-start;
  grid-row: row2-start;
}

.gallery-wrapper .box-2 img {
  object-fit: cover;
  height: 100%;
}

.gallery-wrapper .box-1 a:hover,
.gallery-wrapper .box-2 a:hover,
.gallery-wrapper .box-3 a:hover,
.gallery-wrapper .box-4 a:hover {
  cursor: zoom-in;
}

.sleeva {
  position: absolute;
  bottom: 0;
  width: 40% !important;
  right: -7%;
  opacity: 1;
  z-index: 3;
}

.footer-container .social-media {
  position: relative;
  z-index: 3;
}

.footer-container .social-media h6 {
  color: #fff;
  font-weight: 300;
}

.footer-container .social-media ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.footer-container .social-media ul li {
  float: left;
}

.footer-container .social-media ul li a {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fe780540;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  backdrop-filter: blur(10px);
  background: #ffffff3d;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  margin-right: 15px;
  transition: 0.5s;
}

.footer-container .social-media ul li a:hover {
  color: #dc3545;
  transition: 0.5s;
}

.footer-section-11 ul {
  position: relative;
  z-index: 3;
}

.footer-section-11 ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-right: 15px;
  font-weight: 300;
  transition: 0.5s;
}

.footer-section-11 ul li a:hover {
  color: #0b2848;
  transition: 0.5s;
}

.made-by {
  position: relative;
  /* z-index: 2; */
}

.made-by ul {
  position: relative;
  z-index: 3;
}

/* new mass timing start */
#fas-toggle {
  margin-top: 10px;
  margin-left: 8px;
  /* margin-left: 15px; */
}

#toggle span {
  position: relative;
  top: 13px;
  /* font-size: 18px; */
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  white-space: nowrap;
  display: block;
  left: 1px;
  letter-spacing: 3px;
  /* left: 7px; */
}

#skin-select {
  position: fixed;
  top: 30vh;
  width: 310px;
  z-index: 9000;
  /* background: #fff; */
  background: #6e1b48;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

#skin-select #toggle {
  position: absolute;
  top: 0;
  left: -30px;
  display: block;
  width: 30px;
  height: fit-content;
  cursor: pointer;
  background: #011e94;
  color: #fff;
  text-decoration: none;
  padding-bottom: 23px;
}

.skin-part {
  padding: 12px 15px;
}

/* new mass timing end */

/* Scroll mass start */
.day-time {
  color: #000;
  font-weight: 500;
  transition: 1s;
}

.day-language {
  color: #404040;
  font-weight: 400;
  transition: 1s;
}

.day-name {
  font-weight: 600;
  font-size: 20px;
  color: #000;
  margin-bottom: 0;
  transition: 1s;
}

.scroll-news {
  width: 310px;
  height: fit-content;
  /* bottom: 25px;
          right: 100px;
          position: absolute;
          z-index: 3; */
  /* padding: 20px 15px; */
  /* border-radius: 10px; */
  background-color: #fff;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  overflow: hidden;
}

.scroll-news .text-title {
  font-size: 16px;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.scroll-news p {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

ul.vertical-slider-container {
  padding: 0;
  margin: 0;
  /* border: 10px solid #fff; */
  height: 330px;
  overflow: hidden;
}

ul.vertical-slider-container li {
  /* color: #ddd; */
  /* font-size: 16px; */
  list-style-type: none;
  /* padding: 1em; */
  margin: 0;
  margin-bottom: 8px;
}

.news-scroll-img {
  width: 100%;
  border-radius: 5px;
}

.news-scroll-text {
  text-align: center;
  color: #404040;
  font-size: 18px;
  /* cursor: grab; */
}

.day {
  display: block;
  background: #ffc815;
  border-radius: 5px;
  padding: 5px;
  transition: 1s;
  /* font-weight: 500; */
}

.day:hover {
  background: #77121b;
  /* background: #dc354533; */
}

.day:hover .day-name {
  color: #ffc815;
}

.day:hover .day-time {
  color: #fff;
}

.day:hover .day-language {
  color: #fff;
}

/* Scroll mass end */

.circular-btn.nav-link.active {
  background: #db3370 !important;
  color: #fff !important;
  border-radius: 0;
  font-weight: 500;
  transition: 1s;
}

.circular-btn.nav-link {
  background: transparent !important;
  color: #990b3f !important;
  border-radius: 0;
  font-weight: 500;
  font-size: 16px;
  transition: 1s;
}

.circular-title {
  color: #0b2848;
  transition: 0.5s;
}

.circular-date {
  color: #506276;
  font-size: 13px;
}

.scroll-news a {
  text-decoration: none;
}

.scroll-news a:hover .circular-title {
  color: #ff7903;
  transition: 0.5s;
}

.quick-link-card {
  text-decoration: none;
  justify-content: center;
}

/* .quick-icon i {
  font-size: 33px;
  margin-right: 1rem;
  color: #011e94;
  transition: 0.5s;
  opacity: 0.8;
} */

.quick-title h6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  color: #77121b;
  transition: 0.5s;
}

/* .quick-link-card:hover .quick-icon i {
  color: #16253c;
  transition: 0.5s;
  opacity: 1;
} */

.quick-link-card:hover .quick-title h6 {
  color: #011e94;
  transition: 0.5s;
}

.be-1 {
  border-right: 1px solid #0b2848;
}

.footer-bottom-row .copy-right a {
  font-size: 14px;
}

.cardinal-new {
  background-image: url(https://www.syromalabarchurch.in/assets/images/background/bg-rectangle.png);
  padding: 60px 0 4%;
}

.cardinal-images {
  position: relative;
}

img.cardinal-black-white {
  width: 370px;
  /* width: 65% ; */
  /* filter: grayscale(1); */
}


img.cardinal-color {
  width: 220px;
  /* width: 50%; */
  filter: grayscale(1);
  position: absolute;
  bottom: -15%;
  right: 20%;
  border: 10px solid #ffffff;
  z-index: 2;
}

.cardinal-color-div::before {
  content: "";
  background: linear-gradient(#dc3545, #dc354588, #eaebef59);
  width: 220px;
  display: block;
  height: 50%;
  position: absolute;
  z-index: 0;
  left: 40%;
  bottom: -23%;
}

.cardinal-new-details {
  position: relative;
}

.cardinal-new-details .section-title {
  margin-left: -22%;
}

.cardinal-new-container .main-title {
  margin-bottom: 25px;
}

.cardinal-new-container p {
  font-size: 20px;
  line-height: 35px;
}

.cardinal-new-profile {
  margin-top: 8%;
}

.cardinal-new-container .event-title {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
}

div#syro-header-barSupportedContent li.nav-item {
  margin: 0 !important;
}

/* Glight arrow hissen */
button.gnext.gbtn {
  display: none;
}

button.gprev.gbtn {
  display: none;
}

p{
  text-align: justify;
}


.CategorySection li {
  transition: .3s;
  padding: 8px 0;
  border-bottom: 1px solid #0b2948;
  cursor: pointer;
}

.CategorySection li.active {
  transition: .3s;
  padding-left: 12px;
  font-weight: 400;
  color: #dc3545;
}

.tags-list.active{
  background-color: #dc3545;
}

.tags-list:focus{
  background-color: #fff !important;
  color: #dc3545;
}
.tags-list.active:focus{
  background-color: #dc3545 !important;
  color: #fff;
}

.CategorySection li:hover {
  transition: .3s;
  padding-left: 12px;
  font-weight: 400;
}

.CategorySection li:last-child {
  border: 0;
}

.CategorySection li:first-child {
  padding-top: 0;
}

span.newsEventDate {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  padding: 8px;
  background: #00000069;
  color: #fff;
  line-height: 1;
  font-size: 14px;
}

@media screen and (min-width:425px) and (max-width:991px) {
  .search-div:has(.filterButton) .w-25:has(input[type="search"]) {
      width: 75% !important;
  }
}

@media screen and (max-width:424px) {
  .search-div:has(.filterButton) .w-25 {
      width: 100% !important;
  }

  .search-div:has(.filterButton) {
      flex-direction: column;
      row-gap: 16px;
  }

  .search-div:has(.filterButton) .w-25:has(.filterButton) {
      text-align: end;
  }
}

@media screen and (max-width:768px) {
  .inner-page-content {
      padding: 3rem 0;
  }
}



.error-detail {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}


.error-detail p {
  font-size: 13px;
  line-height: 13px;
  color: #920000;
  text-align: left;
  background: #fff;
  padding: 0.2rem;
}


/* Snackbar toast */

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 11px;
  position: fixed;
  z-index: 9999;
  left: 50%;
  bottom: 30px;
  font-size: 14px;
}

#snackbar p {
  color: #fff !important;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

/* Hide specific topmenu nav items (li[3], li[7]); Synod (li[5]) is shown */
#topmenus li:nth-child(3),
#topmenus li:nth-child(7) {
  display: none !important;
}

/* Hide Eparchies, Major Archbishop, and Curia menus */
#topmenus li.menu-eparchies,
#topmenus li.menu-major-archbishop,
#topmenus li.menu-curia {
  display: none !important;
}

/* Hide menu: first ul's li in navbar (#syro-header-barSupportedContent/ul[1]/li) */
#syro-header-barSupportedContent > ul:first-of-type > li {
  display: none !important;
}

/* Snackbar toast */
